openapi: 3.2.0
info:
  title: Tooloracle Io RWA Liquidity API
  version: 8.4.1+truthrepair.r1
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
  description: 'Operations tagged RWA Liquidity across 2 of this provider''s published API definitions: tooloracle-io-feedoracle-openapi.json, tooloracle-io-feedoracle-compliance-evidence-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: RWA Liquidity
  description: On-chain DEX liquidity depth and volume analysis
paths:
  /v1/rwa/liquidity:
    get:
      tags:
      - RWA Liquidity
      summary: All protocols - liquidity overview
      description: 'DEX liquidity summaries. Note: many RWA tokens trade via mint/redeem on primary markets.'
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Liquidity overview
      operationId: getV1RwaLiquidity
      x-operation-id-source: derived
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /v1/rwa/liquidity/{slug}:
    get:
      tags:
      - RWA Liquidity
      summary: Single protocol - detailed liquidity
      security:
      - ApiKeyAuth: []
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
        description: Protocol slug
      responses:
        '200':
          description: Liquidity details
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      m:
                        type: object
                        properties:
                          total_liq_usd:
                            type: number
                          vol_24h_usd:
                            type: number
                          pair_count:
                            type: integer
                      liq:
                        type: object
                        properties:
                          score:
                            type: integer
                          cat:
                            type: string
                            enum:
                            - DEEP
                            - MODERATE
                            - THIN
                            - NO_DEX
        '404':
          description: Protocol not found
      operationId: getV1RwaLiquidityBySlug
      x-operation-id-source: derived
    servers:
    - url: https://api.feedoracle.io
      description: Production
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-refined-from:
- tooloracle-io-feedoracle-openapi.json
- tooloracle-io-feedoracle-compliance-evidence-openapi.yml
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
