openapi: 3.2.0
info:
  title: FeedOracle Compliance Evidence RLUSD API
  version: 8.4.1+truthrepair.r1
  description: 'FeedOracle Compliance Evidence Infrastructure — 44 MCP servers, 590+ evidence tools across 17 data sources. DORA, MiCA, AMLR and CSRD compliance evidence APIs. ES256K-signed responses, blockchain-anchored. Canonical metrics: https://feedoracle.io/data/feedoracle-metrics.json.'
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: RLUSD
  description: RLUSD stablecoin transparency (Public)
paths:
  /api/v3/rlusd/status:
    get:
      tags:
      - RLUSD
      operationId: getRlusdStatus
      summary: Service status
      security: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RlusdStatusEnvelope'
  /api/v3/rlusd/cci:
    get:
      tags:
      - RLUSD
      operationId: getCciCompact
      summary: CCI compact
      security: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RlusdCciCompact'
  /api/v3/rlusd/risk/cci:
    get:
      tags:
      - RLUSD
      operationId: getCciDetailed
      summary: CCI detailed
      security: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RlusdCciDetailed'
  /api/v3/rlusd/supply/breakdown:
    get:
      tags:
      - RLUSD
      operationId: getSupplyBreakdown
      summary: Supply by chain
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RlusdSupplyBreakdown'
  /api/v3/rlusd/peg/quality:
    get:
      tags:
      - RLUSD
      operationId: getPegQuality
      summary: Peg quality
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RlusdPegQuality'
  /api/v3/rlusd/evidence/latest:
    get:
      tags:
      - RLUSD
      operationId: getEvidenceLatest
      summary: Evidence pack
      security: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RlusdEvidencePack'
  /api/v3/rlusd/holders:
    get:
      tags:
      - RLUSD
      operationId: getHolders
      summary: Holder distribution
      security: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RlusdHoldersResponse'
      description: 'Known issue (2026-08-16): this operation currently returns HTTP 500.'
  /api/v3/rlusd/webhooks/events:
    get:
      tags:
      - RLUSD
      operationId: getWebhookEvents
      summary: Webhook catalog
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RlusdWebhookCatalog'
  /api/v3/rlusd/verify/{hash}:
    get:
      tags:
      - RLUSD
      operationId: verifyHash
      summary: Verify hash
      security: []
      parameters:
      - name: hash
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RlusdVerifyResponse'
components:
  schemas:
    RlusdSupplyBreakdown:
      type: object
      properties:
        service:
          type: string
        data:
          type: object
    RlusdHoldersResponse:
      type: object
      properties:
        chains:
          type: object
        total_holders:
          type: integer
        timestamp:
          type: string
    RlusdCciDetailed:
      type: object
      properties:
        cci_score:
          type: number
        grade:
          type: string
        subscores:
          type: object
        weights:
          type: object
        timestamp:
          type: string
    RlusdStatusEnvelope:
      type: object
      properties:
        service:
          type: string
        meta:
          $ref: '#/components/schemas/MetaEnvelope'
        data:
          type: object
        warnings:
          type: array
          items:
            type: string
    RlusdEvidencePack:
      type: object
      properties:
        as_of:
          type: string
        guard:
          type: object
        circuit_breaker:
          type: object
        integrity_proof:
          type: object
        disclaimer:
          type: object
    RlusdCciCompact:
      type: object
      properties:
        cci_score:
          type: number
        grade:
          type: string
        components:
          type: object
        penalty_log:
          type: object
        timestamp:
          type: string
    RlusdWebhookCatalog:
      type: object
      properties:
        events:
          type: array
        catalog:
          type: object
    MetaEnvelope:
      type: object
      properties:
        api_version:
          type: string
        dataset_version:
          type: string
        schema_version:
          type: string
    RlusdPegQuality:
      type: object
      properties:
        service:
          type: string
        data:
          type: object
    RlusdVerifyResponse:
      type: object
      properties:
        valid:
          type: boolean
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
