openapi: 3.2.0
info:
  title: FeedOracle Compliance Evidence Wallet API
  version: 8.4.1+truthrepair.r1
  description: 'FeedOracle Compliance Evidence Infrastructure — 44 MCP servers, 590+ evidence tools across 17 data sources. DORA, MiCA, AMLR and CSRD compliance evidence APIs. ES256K-signed responses, blockchain-anchored. Canonical metrics: https://feedoracle.io/data/feedoracle-metrics.json.'
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: Wallet
  description: Unit-based billing — check balance, view packages, purchase units via Stripe
paths:
  /wallet/balance:
    get:
      summary: Check wallet balance
      description: Returns current unit balance for the authenticated API key.
      tags:
      - Wallet
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Balance returned
        '401':
          description: Invalid or missing API key
      operationId: getWalletBalance
      x-operation-id-source: derived
  /wallet/stripe/checkout:
    post:
      summary: Create Stripe checkout session
      description: Creates a Stripe checkout session for purchasing a unit package. Redirects to Stripe.
      tags:
      - Wallet
      security:
      - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                package:
                  type: string
                  enum:
                  - starter
                  - growth
                  - pro
                  - enterprise
                  - starter_annual
                  - growth_annual
                  - pro_annual
                  - enterprise_annual
                  description: Package to purchase
              required:
              - package
      responses:
        '302':
          description: Redirect to Stripe checkout
        '401':
          description: Invalid API key
      operationId: postWalletStripeCheckout
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
