openapi: 3.2.0
info:
  title: FeedOracle Compliance Evidence EU Carbon Intelligence API
  version: 8.4.1+truthrepair.r1
  description: 'FeedOracle Compliance Evidence Infrastructure — 44 MCP servers, 590+ evidence tools across 17 data sources. DORA, MiCA, AMLR and CSRD compliance evidence APIs. ES256K-signed responses, blockchain-anchored. Canonical metrics: https://feedoracle.io/data/feedoracle-metrics.json.'
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: EU Carbon Intelligence
paths:
  /api/v1/eu-ets/price:
    get:
      tags:
      - EU Carbon Intelligence
      summary: EU ETS carbon price
      responses:
        '200':
          description: Current EUA price in EUR/tCO2
      operationId: getApiV1EuEtsPrice
      x-operation-id-source: derived
  /api/v1/ember/intensity/{country_code}:
    get:
      tags:
      - EU Carbon Intelligence
      summary: Grid carbon intensity
      parameters:
      - name: country_code
        in: path
        required: true
        schema:
          type: string
        description: ISO 3166-1 alpha-3 (DEU, GBR, FRA, etc.)
      responses:
        '200':
          description: CO2 intensity in gCO2/kWh
      operationId: getApiV1EmberIntensityByCountryCode
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
