openapi: 3.2.0
info:
  title: Tooloracle Io Knowledge API
  version: 8.4.1+truthrepair.r1
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
  description: 'Operations tagged Knowledge across 2 of this provider''s published API definitions: tooloracle-io-feedoracle-openapi.json, tooloracle-io-feedoracle-compliance-evidence-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: Knowledge
  description: Knowledge base (Key required)
paths:
  /api/v1/feeds/knowledge/assets:
    get:
      tags:
      - Knowledge
      operationId: getKnowledgeAssets
      summary: Knowledge base assets
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Asset knowledge
        '401':
          description: Unauthorized
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/feeds/knowledge/stats:
    get:
      tags:
      - Knowledge
      operationId: getKnowledgeStats
      summary: Knowledge statistics
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Stats
        '401':
          description: Unauthorized
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/feeds/knowledge/status:
    get:
      tags:
      - Knowledge
      operationId: getKnowledgeStatus
      summary: Knowledge system status
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Status
        '401':
          description: Unauthorized
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/feeds/knowledge/health:
    get:
      tags:
      - Knowledge
      operationId: getKnowledgeHealth
      summary: Knowledge feed health
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
      description: 'Requires an API key (X-API-Key header). Corrected 2026-08-16: previously published as public.'
    servers:
    - url: https://api.feedoracle.io
      description: Production
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-refined-from:
- tooloracle-io-feedoracle-openapi.json
- tooloracle-io-feedoracle-compliance-evidence-openapi.yml
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
