openapi: 3.2.0
info:
  title: FeedOracle Compliance Evidence RWA Alerts API
  version: 8.4.1+truthrepair.r1
  description: 'FeedOracle Compliance Evidence Infrastructure — 44 MCP servers, 590+ evidence tools across 17 data sources. DORA, MiCA, AMLR and CSRD compliance evidence APIs. ES256K-signed responses, blockchain-anchored. Canonical metrics: https://feedoracle.io/data/feedoracle-metrics.json.'
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: RWA Alerts
  description: Webhook subscriptions for real-time notifications
paths:
  /v1/rwa/alerts:
    get:
      tags:
      - RWA Alerts
      summary: List webhook subscriptions
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Active subscriptions
      operationId: getV1RwaAlerts
      x-operation-id-source: derived
  /v1/rwa/alerts/subscribe:
    post:
      tags:
      - RWA Alerts
      summary: Create webhook subscription
      security:
      - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - webhook_url
              properties:
                webhook_url:
                  type: string
                  format: uri
                events:
                  type: array
                  items:
                    type: string
                    enum:
                    - grade_change
                    - score_threshold
                    - anomaly_detected
                    - peg_deviation
                    - tvl_drop
                slugs:
                  type: array
                  items:
                    type: string
      responses:
        '201':
          description: Subscription created
      callbacks:
        onEvent:
          '{$request.body#/webhook_url}':
            post:
              summary: Webhook event delivery
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/RWAWebhookEvent'
              responses:
                '200':
                  description: Acknowledged
      operationId: postV1RwaAlertsSubscribe
      x-operation-id-source: derived
  /v1/rwa/alerts/{id}:
    delete:
      tags:
      - RWA Alerts
      summary: Delete webhook subscription
      security:
      - ApiKeyAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Deleted
      operationId: deleteV1RwaAlertsById
      x-operation-id-source: derived
components:
  schemas:
    RWAWebhookEvent:
      type: object
      description: Payload sent to webhook endpoint
      properties:
        event:
          type: string
          enum:
          - grade_change
          - score_threshold
          - anomaly_detected
          - peg_deviation
          - tvl_drop
        timestamp:
          type: string
          format: date-time
        protocol:
          type: object
          properties:
            slug:
              type: string
            name:
              type: string
        previous:
          type: object
          properties:
            score:
              type: integer
            grade:
              type: string
        current:
          type: object
          properties:
            score:
              type: integer
            grade:
              type: string
        reason_codes:
          type: array
          items:
            $ref: '#/components/schemas/RWAReasonCode'
        evidence:
          type: object
          properties:
            signature:
              type: string
            manifest_id:
              type: string
    RWAReasonCode:
      type: object
      properties:
        vector:
          type: string
          example: tvl_weight
        impact:
          type: string
          enum:
          - positive
          - negative
        text:
          type: string
          example: Strong TVL indicates institutional confidence
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
