openapi: 3.2.0
info:
  title: FeedOracle Compliance Evidence Attestation API
  version: 8.4.1+truthrepair.r1
  description: 'FeedOracle Compliance Evidence Infrastructure — 44 MCP servers, 590+ evidence tools across 17 data sources. DORA, MiCA, AMLR and CSRD compliance evidence APIs. ES256K-signed responses, blockchain-anchored. Canonical metrics: https://feedoracle.io/data/feedoracle-metrics.json.'
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: Attestation
  description: DAP attestation (Public)
paths:
  /api/v2/attestation/status:
    get:
      tags:
      - Attestation
      operationId: getAttestationStatus
      summary: DAP system status
      description: Returns merkle root and multi-chain anchor status
      responses:
        '200':
          description: DAP operational status
  /api/v2/attestation/chains:
    get:
      tags:
      - Attestation
      operationId: getAttestationChains
      summary: Multi-chain anchor status
      description: Anchor status on ETH, Polygon, Arbitrum, Base
      responses:
        '200':
          description: Chain anchors with tx hashes
  /api/v2/attestation/activity:
    get:
      tags:
      - Attestation
      operationId: getAttestationActivity
      summary: Recent anchor activity
      responses:
        '200':
          description: Activity log with timestamps
  /api/v2/attestation/verify/{aid}:
    get:
      tags:
      - Attestation
      operationId: verifyAttestation
      summary: Verify attestation by ID
      parameters:
      - name: aid
        in: path
        required: true
        schema:
          type: string
        description: Attestation ID (dap_*)
      responses:
        '200':
          description: Verification result with merkle proof
        '404':
          description: Attestation not found
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
