openapi: 3.2.0
info:
  title: FeedOracle Compliance Evidence Agents API
  version: 8.4.1+truthrepair.r1
  description: 'FeedOracle Compliance Evidence Infrastructure — 44 MCP servers, 590+ evidence tools across 17 data sources. DORA, MiCA, AMLR and CSRD compliance evidence APIs. ES256K-signed responses, blockchain-anchored. Canonical metrics: https://feedoracle.io/data/feedoracle-metrics.json.'
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: Agents
  description: AI Agent feeds (Key required)
paths:
  /api/v1/feeds/agents/ranking:
    get:
      tags:
      - Agents
      operationId: getAgentsRanking
      summary: AI agent token ranking
      description: Rankings for AI agent tokens
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Agent rankings
        '401':
          description: Unauthorized
  /api/v1/feeds/agents/trends:
    get:
      tags:
      - Agents
      operationId: getAgentsTrends
      summary: AI agent trends
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Trend data
        '401':
          description: Unauthorized
  /api/v1/feeds/agents/{symbol}:
    get:
      tags:
      - Agents
      operationId: getAgent
      summary: Single AI agent data
      security:
      - ApiKeyAuth: []
      parameters:
      - name: symbol
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Agent data
        '401':
          description: Unauthorized
  /api/v1/feeds/agents/health:
    get:
      tags:
      - Agents
      operationId: getAgentsHealth
      summary: Agents feed health
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
      description: 'Requires an API key (X-API-Key header). Corrected 2026-08-16: previously published as public.'
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
