openapi: 3.2.0
info:
  title: Tooloracle Io RWA Oracle Feeds API
  version: 8.4.1+truthrepair.r1
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
  description: 'Operations tagged RWA Oracle Feeds across 2 of this provider''s published API definitions: tooloracle-io-feedoracle-openapi.json, tooloracle-io-feedoracle-compliance-evidence-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: RWA Oracle Feeds
  description: Multi-source consensus price feeds with disagreement detection
paths:
  /v1/rwa/oracle/feeds/{slug}:
    get:
      tags:
      - RWA Oracle Feeds
      summary: Consensus price feed
      description: Multi-source aggregation (median/weighted median) with outlier removal. Sources include Chainlink, Pyth, CoinGecko.
      security:
      - ApiKeyAuth: []
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
        description: Protocol slug
      responses:
        '200':
          description: Oracle feed data
          content:
            application/json:
              schema:
                type: object
                properties:
                  oracle:
                    type: object
                    properties:
                      value_str:
                        type: string
                        example: '5054.88000000'
                      precision:
                        type: integer
                      base_asset:
                        type: string
                      consensus:
                        type: object
                        properties:
                          rule:
                            type: string
                            example: weighted_median
                          sources:
                            type: integer
                          agreement_pct:
                            type: number
                      staleness:
                        type: object
                        properties:
                          oldest_source_age_s:
                            type: integer
                          is_stale:
                            type: boolean
        '404':
          description: Protocol not found
      operationId: getV1RwaOracleFeedsBySlug
      x-operation-id-source: derived
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /v1/rwa/oracle/status:
    get:
      tags:
      - RWA Oracle Feeds
      summary: Oracle infrastructure status
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Oracle status overview
      operationId: getV1RwaOracleStatus
      x-operation-id-source: derived
    servers:
    - url: https://api.feedoracle.io
      description: Production
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-refined-from:
- tooloracle-io-feedoracle-openapi.json
- tooloracle-io-feedoracle-compliance-evidence-openapi.yml
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
