openapi: 3.2.0
info:
  title: ToolOracle MCP Platform Discovery API
  version: 4.2.0
  description: ToolOracle MCP Platform — 89 servers, 1096 tools, OracleNet self-learning agent mesh. Neural routing, W3C DIDs, Verifiable Credentials, escrow-free x402 USDC settlement on Base + XRPL native escrow.
  x-hedera-mainnet:
    contract: 0.0.10420310
    beacon_topic: 0.0.10420280
    join_topic: 0.0.10420282
  x-changelog:
  - version: 4.2.0
    date: '2026-04-28'
    changes:
    - Canonicalized counts from /assets/catalog.json
    - Aligned root /openapi.json with /.well-known/openapi.json
    - Added x-counts and x-canonical-source extensions
  - version: 4.1.0
    date: '2026-04-19'
    changes:
    - Added Mesh Economics v1 API paths (/economics/api/*)
    - Added Mesh Nervous System discovery paths (/.well-known/agent-pulse, /.well-known/meta-tools)
    - Added /.well-known/mesh-economics discovery endpoint
  x-counts:
    servers_online: 89
    tools_available: 1096
    categories: 7
    chains_supported: 13
    paid_products: 18
  x-canonical-source: https://tooloracle.io/assets/catalog.json
  x-generated-at: '2026-09-20T02:13:01+00:00'
servers:
- url: https://tooloracle.io
tags:
- name: Discovery
  description: Well-known endpoints for agent discovery (ANP/A2A-compatible).
paths:
  /.well-known/mesh-economics:
    get:
      summary: Mesh economics public dashboard payload (JSON)
      description: Machine-readable pricing, activity, rewards, treasury, agents, referrals, audit. Updated every 5 minutes.
      tags:
      - Discovery
      responses:
        '200':
          description: Full mesh economics snapshot
      operationId: getWellKnownMeshEconomics
      x-operation-id-source: derived
  /.well-known/agent-pulse:
    get:
      summary: Mesh Nervous System — agent pulse (gravity, emergent patterns)
      description: Gravity score, cross-LLM gaps, discovery links, emergent patterns. Updated every 5 minutes.
      tags:
      - Discovery
      responses:
        '200':
          description: Pulse JSON
      operationId: getWellKnownAgentPulse
      x-operation-id-source: derived
  /.well-known/meta-tools:
    get:
      summary: Mesh Nervous System — meta-tool candidates
      description: 'Emergent tool-composition patterns discovered from real external agent traffic. 3-stage pipeline: discover (active), simulate (planned), promote (planned).'
      tags:
      - Discovery
      responses:
        '200':
          description: Meta-tools JSON
      operationId: getWellKnownMetaTools
      x-operation-id-source: derived
externalDocs:
  description: x402 v2 buyer quickstart (pay one /v2 route and verify the signed NOMOS execution receipt)
  url: https://tooloracle.io/docs/x402-buyer-quickstart/
