openapi: 3.2.0
info:
  title: FeedOracle Compliance Evidence RWA Events API
  version: 8.4.1+truthrepair.r1
  description: 'FeedOracle Compliance Evidence Infrastructure — 44 MCP servers, 590+ evidence tools across 17 data sources. DORA, MiCA, AMLR and CSRD compliance evidence APIs. ES256K-signed responses, blockchain-anchored. Canonical metrics: https://feedoracle.io/data/feedoracle-metrics.json.'
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: RWA Events
  description: Risk events, governance changes, anomaly alerts
paths:
  /v1/rwa/events:
    get:
      tags:
      - RWA Events
      summary: All protocols - recent events
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Risk events
      operationId: getV1RwaEvents
      x-operation-id-source: derived
  /v1/rwa/events/{slug}:
    get:
      tags:
      - RWA Events
      summary: Single protocol - events
      security:
      - ApiKeyAuth: []
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
        description: Protocol slug
      responses:
        '200':
          description: Protocol events
        '404':
          description: Protocol not found
      operationId: getV1RwaEventsBySlug
      x-operation-id-source: derived
  /v1/rwa/events/stats:
    get:
      tags:
      - RWA Events
      summary: Event statistics
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Event type distribution
      operationId: getV1RwaEventsStats
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
