openapi: 3.2.0
info:
  title: Tooloracle Io ESMA Register API
  version: 8.4.1+truthrepair.r1
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
  description: 'Operations tagged ESMA Register across 2 of this provider''s published API definitions: tooloracle-io-feedoracle-openapi.json, tooloracle-io-feedoracle-compliance-evidence-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: ESMA Register
paths:
  /api/v1/esma/:
    get:
      tags:
      - ESMA Register
      summary: ESMA Register service root with available endpoints
      responses:
        '200':
          description: OK
      operationId: getApiV1Esma
      x-operation-id-source: derived
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/esma/casps:
    get:
      tags:
      - ESMA Register
      summary: Authorized Crypto-Asset Service Providers (20 entities across 11 EU…
      responses:
        '200':
          description: List of authorized CASPs with LEI, NCA, services, authorization date
      parameters:
      - name: country
        in: query
        schema:
          type: string
        description: Filter by country code (DE, FR, IE, AT, etc.)
      - name: service
        in: query
        schema:
          type: string
        description: Filter by service type (exchange, custody, transfer, portfolio_management)
      operationId: getApiV1EsmaCasps
      x-operation-id-source: derived
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/esma/emt-issuers:
    get:
      tags:
      - ESMA Register
      summary: 'E-Money Token issuers (7 entities: 5 EUR, 2 USD stablecoins)'
      responses:
        '200':
          description: List of EMT issuers with token details, license type, reserve model
      parameters:
      - name: currency
        in: query
        schema:
          type: string
        description: Filter by peg currency (EUR, USD)
      operationId: getApiV1EsmaEmtIssuers
      x-operation-id-source: derived
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/esma/non-compliant:
    get:
      tags:
      - ESMA Register
      summary: Non-compliant entities flagged for MiCA violations (5 entities)
      responses:
        '200':
          description: List of non-compliant entities with issue type and severity
      operationId: getApiV1EsmaNonCompliant
      x-operation-id-source: derived
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/esma/pending:
    get:
      tags:
      - ESMA Register
      summary: Pending MiCA applications (3 entities)
      responses:
        '200':
          description: List of pending applications with type and NCA
      operationId: getApiV1EsmaPending
      x-operation-id-source: derived
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/esma/search:
    get:
      tags:
      - ESMA Register
      summary: Full-text search across all register entities
      responses:
        '200':
          description: Search results with entity type and matching fields
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
        description: Search query (e.g., coinbase, tether, circle)
      operationId: getApiV1EsmaSearch
      x-operation-id-source: derived
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/esma/stats:
    get:
      tags:
      - ESMA Register
      summary: Aggregated register statistics by country, service type, currency
      responses:
        '200':
          description: Statistical breakdown of registered entities
      operationId: getApiV1EsmaStats
      x-operation-id-source: derived
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/esma/summary:
    get:
      tags:
      - ESMA Register
      summary: 'Register summary: CASPs, EMT issuers, non-compliant, pending counts with MiCA…'
      responses:
        '200':
          description: Register summary with entity counts and MiCA days remaining
      operationId: getApiV1EsmaSummary
      x-operation-id-source: derived
    servers:
    - url: https://api.feedoracle.io
      description: Production
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-refined-from:
- tooloracle-io-feedoracle-openapi.json
- tooloracle-io-feedoracle-compliance-evidence-openapi.yml
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
