openapi: 3.2.0
info:
  title: ToolOracle MCP Platform Compliance API
  version: 4.2.0
  description: ToolOracle MCP Platform — 89 servers, 1096 tools, OracleNet self-learning agent mesh. Neural routing, W3C DIDs, Verifiable Credentials, escrow-free x402 USDC settlement on Base + XRPL native escrow.
  x-hedera-mainnet:
    contract: 0.0.10420310
    beacon_topic: 0.0.10420280
    join_topic: 0.0.10420282
  x-changelog:
  - version: 4.2.0
    date: '2026-04-28'
    changes:
    - Canonicalized counts from /assets/catalog.json
    - Aligned root /openapi.json with /.well-known/openapi.json
    - Added x-counts and x-canonical-source extensions
  - version: 4.1.0
    date: '2026-04-19'
    changes:
    - Added Mesh Economics v1 API paths (/economics/api/*)
    - Added Mesh Nervous System discovery paths (/.well-known/agent-pulse, /.well-known/meta-tools)
    - Added /.well-known/mesh-economics discovery endpoint
  x-counts:
    servers_online: 89
    tools_available: 1096
    categories: 7
    chains_supported: 13
    paid_products: 18
  x-canonical-source: https://tooloracle.io/assets/catalog.json
  x-generated-at: '2026-09-20T02:13:01+00:00'
servers:
- url: https://tooloracle.io
tags:
- name: Compliance
paths:
  /v2/compliance_preflight:
    post:
      operationId: v2_compliance_preflight
      tags:
      - Compliance
      summary: MiCA stablecoin compliance preflight — PASS/WARN/BLOCK + grade A-F + signed…
      description: EU stablecoin MiCA pre-flight verdict (PASS/WARN/BLOCK) with grade A-F and a signed MiCA status evidence snapshot (source and as-of metadata). Supports USDC, USDT, EURC, RLUSD, DAI and 40+ stablecoins. Required EU regulatory due diligence for CASPs, exchanges, payment & e-money agents.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: Stablecoin symbol e.g. USDC, USDT, EURC, RLUSD, DAI
                issuer:
                  type: string
                  description: Optional issuer e.g. Circle, Tether, Ripple
              required:
              - token
            example:
              token: USDC
      responses:
        '200':
          description: Success (synthetic example)
          content:
            application/json:
              example:
                verdict: PASS
                score: 87.4
                grade: A
                mica_status: AUTHORIZED
                signed: true
        '402':
          description: 'Payment Required (x402 v2): payment requirements are in the PAYMENT-REQUIRED response header (accepts[]); retry with the PAYMENT-SIGNATURE header (USDC on Base, eip155:8453). Success carries the PAYMENT-RESPONSE settlement header. The legacy X-PAYMENT header is not accepted on /v2 routes.'
        '400':
          description: Bad Request — invalid or missing parameters.
      x-x402:
        price: $0.01
        currency: USDC
        network: eip155:8453
        method: POST
        example_type: synthetic
        status: live
        value_prop: 'Check a token before interacting: receive a machine-readable PASS/WARN/BLOCK compliance preflight for $0.01.'
  /v2/mica_stablecoin_check:
    post:
      operationId: v2_mica_stablecoin_check
      tags:
      - Compliance
      summary: MiCA full Ampel check across 12 articles + grade A-F.
      description: EU stablecoin MiCA compliance audit + regulatory readiness — full Ampel traffic-light check (RED/YELLOW/GREEN) across all 12 MiCA articles (Title III EMT + Title IV ART). Grade A-F + signed MiCA status evidence snapshot (source and as-of metadata). Supports USDC, USDT, EURC, RLUSD, DAI, FDUSD, PYUSD and 40+ stablecoins. Required regulatory due diligence for CASPs, EU exchanges, payment service providers, e-money institutions, fintech agents. BaFin / ESMA / AMF / FINMA / CySEC aligned. July 2026 CASP deadline.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: Stablecoin symbol (USDC, USDT, EURC, RLUSD, DAI, etc.)
                issuer:
                  type: string
                  description: Optional issuer name (Circle, Tether, Ripple, etc.)
              required:
              - token
            example:
              token: USDC
              issuer: Circle
      responses:
        '200':
          description: Success (synthetic example)
          content:
            application/json:
              example:
                verdict: PASS
                score: 87.4
                grade: A
                mica_status: AUTHORIZED
        '402':
          description: 'Payment Required (x402 v2): payment requirements are in the PAYMENT-REQUIRED response header (accepts[]); retry with the PAYMENT-SIGNATURE header (USDC on Base, eip155:8453). Success carries the PAYMENT-RESPONSE settlement header. The legacy X-PAYMENT header is not accepted on /v2 routes.'
        '400':
          description: Bad Request — invalid or missing parameters.
      x-x402:
        price: $0.01
        currency: USDC
        network: eip155:8453
        method: POST
        example_type: synthetic
  /v2/sanctions_screen:
    post:
      operationId: v2_sanctions_screen
      tags:
      - Compliance
      summary: 'Name screening: EU FSF (14k) + OFAC SDN (69k) + UN (3k) + UK HMT (4k)'
      description: Sanctions screening + AML compliance check — real-time name screening against EU FSF (14k entities), US OFAC SDN (69k), UN Security Council (3k), UK HMT (4k). Hit/no-hit verdict with entity details, confidence score, matched-list breakdown. For KYC, KYB, CDD, AML, transaction monitoring, agent payment pre-flight, payments compliance, regtech workflows. EU AMLR Art. 21 + FinCEN BSA + FATF Rec. 6 + BaFin GwG compliant.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Person or entity name to screen
                country:
                  type: string
                  description: Optional ISO country code
                dob:
                  type: string
                  description: Optional date of birth YYYY-MM-DD
              required:
              - name
            example:
              name: John Doe
              country: RU
      responses:
        '200':
          description: Success (synthetic example)
          content:
            application/json:
              example:
                hit: false
                matched_lists: []
                confidence: 0
        '402':
          description: 'Payment Required (x402 v2): payment requirements are in the PAYMENT-REQUIRED response header (accepts[]); retry with the PAYMENT-SIGNATURE header (USDC on Base, eip155:8453). Success carries the PAYMENT-RESPONSE settlement header. The legacy X-PAYMENT header is not accepted on /v2 routes.'
        '400':
          description: Bad Request — invalid or missing parameters.
      x-x402:
        price: $0.02
        currency: USDC
        network: eip155:8453
        method: POST
        example_type: synthetic
  /v2/xrpl_rlusd_integrity:
    post:
      operationId: v2_xrpl_rlusd_integrity
      tags:
      - Compliance
      summary: 'RLUSD integrity: peg + on-chain supply + XRPL DEX liquidity cross-check'
      description: 'AgentNOMOS XRPL RLUSD Integrity Check: Cross-verifies Ripple USD (RLUSD) across three sources in one call — DeFiLlama peg price and market cap, XRPL on-chain circulating supply via gateway_balances on the issuer account, and live XRPL DEX orderbook offers. Returns per-source results, an integrity summary with sources_checked and sources_ok, and flags such as SUPPLY_MISMATCH with severity and detail. Automated data cross-check — not investment advice and not a regulatory assessment.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: {}
            example: {}
      responses:
        '200':
          description: Success (synthetic example)
          content:
            application/json:
              example:
                sources:
                  defillama:
                    price: 1.0
                    ok: true
                  xrpl_onchain:
                    circulating: 0
                    issuer: rMxCKbEDwqr76QuheSUMdEGf4B9xJ8m5De
                    ok: true
                  xrpl_dex:
                    active_offers: 0
                    dex_liquidity: false
                    ok: true
                flags: []
                timestamp: '1970-01-01T00:00:00Z'
        '402':
          description: 'Payment Required (x402 v2): payment requirements are in the PAYMENT-REQUIRED response header (accepts[]); retry with the PAYMENT-SIGNATURE header (USDC on Base, eip155:8453). Success carries the PAYMENT-RESPONSE settlement header. The legacy X-PAYMENT header is not accepted on /v2 routes.'
        '400':
          description: Bad Request — invalid or missing parameters.
      x-x402:
        price: $0.03
        currency: USDC
        network: eip155:8453
        method: POST
        example_type: synthetic
externalDocs:
  description: x402 v2 buyer quickstart (pay one /v2 route and verify the signed NOMOS execution receipt)
  url: https://tooloracle.io/docs/x402-buyer-quickstart/
