openapi: 3.2.0
info:
  title: FeedOracle Compliance Evidence Enterprise Trust Layer API
  version: 8.4.1+truthrepair.r1
  description: 'FeedOracle Compliance Evidence Infrastructure — 44 MCP servers, 590+ evidence tools across 17 data sources. DORA, MiCA, AMLR and CSRD compliance evidence APIs. ES256K-signed responses, blockchain-anchored. Canonical metrics: https://feedoracle.io/data/feedoracle-metrics.json.'
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: Enterprise Trust Layer
paths:
  /verify/sdk:
    get:
      summary: Validation SDK Info
      description: SDK installation instructions, supported languages (Python available, TS/Rust/Go planned), and 7 verification checks.
      tags:
      - Enterprise Trust Layer
      responses:
        '200':
          description: SDK info and check descriptions
      operationId: getVerifySdk
      x-operation-id-source: derived
  /verify/self-test:
    get:
      summary: SDK Self-Test
      description: 'Run live self-test: generates evidence, verifies with SDK (7 checks: hash, JWS, key, freshness, schema, SLA confidence, SLA freshness).'
      tags:
      - Enterprise Trust Layer
      responses:
        '200':
          description: Self-test result with per-check status
      operationId: getVerifySelfTest
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
