openapi: 3.2.0
info:
  title: FeedOracle Compliance Evidence Law Oracle API
  version: 8.4.1+truthrepair.r1
  description: 'FeedOracle Compliance Evidence Infrastructure — 44 MCP servers, 590+ evidence tools across 17 data sources. DORA, MiCA, AMLR and CSRD compliance evidence APIs. ES256K-signed responses, blockchain-anchored. Canonical metrics: https://feedoracle.io/data/feedoracle-metrics.json.'
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: LawOracle
  description: 'Multi-jurisdiction legal intelligence MCP server. 20 tools, 9 data sources, 4 jurisdictions (US, EU, UK, DE). Obligation mapping, article extraction, DORA OS bridge. Endpoint: https://tooloracle.io/law/mcp'
paths:
  /law/mcp/:
    post:
      tags:
      - LawOracle
      summary: LawOracle MCP (20 tools) - Multi-jurisdiction legal intelligence
      description: 'Multi-jurisdiction legal search, obligation mapping (DORA/MiCA/AMLR), article extraction, DORA OS bridge. Tools: multi_jurisdiction_search, obligation_search, obligation_trace, article_extract, federal_register_search, sec_filing_search, court_opinion_search, congress_bill_search, regulations_gov_search, eurlex_search, uk_legislation_search, de_law_list, de_law_lookup, sec_company_filings, federal_register_document, congress_bill_detail, uk_act_content, jurisdiction_list, health_check, ping.'
      operationId: lawOracleMcp
      responses:
        '200':
          description: MCP JSON-RPC response
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
