openapi: 3.2.0
info:
  title: Tooloracle Io DORA Ampel API
  version: 8.4.1+truthrepair.r1
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
  description: 'Operations tagged DORA Ampel across 2 of this provider''s published API definitions: tooloracle-io-feedoracle-openapi.json, tooloracle-io-feedoracle-compliance-evidence-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: DORA Ampel
  description: 'DORA traffic-light compliance system — 49 tools, 26 articles, 39 checks, 67 controls, 6 entities. Closed-loop: Control→Finding→Owner→ReTest→Close. Escalation, What-if, Board-View, Dependency Graph, Evidence Packs.'
paths:
  /ampel/mcp/:
    post:
      tags:
      - DORA Ampel
      summary: DORA AmpelOracle MCP endpoint (49 tools)
      description: 'DORA compliance traffic-light system via MCP protocol. Tools: readiness_check, assess_all, onboard_entity, bridge_resolve, gap_report, generate_report, audit_trail, freshness_check. AgentGuard-integrated.'
      operationId: doraAmpelMcp
      responses:
        '200':
          description: MCP JSON-RPC response
    servers:
    - url: https://api.feedoracle.io
      description: Production
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-refined-from:
- tooloracle-io-feedoracle-openapi.json
- tooloracle-io-feedoracle-compliance-evidence-openapi.yml
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
