openapi: 3.2.0
info:
  title: Tooloracle Io Blockchain API
  version: 4.2.0
  x-canonical-source: https://tooloracle.io/assets/catalog.json
  x-changelog:
  - version: 4.2.0
    date: '2026-04-28'
    changes:
    - Canonicalized counts from /assets/catalog.json
    - Aligned root /openapi.json with /.well-known/openapi.json
    - Added x-counts and x-canonical-source extensions
  - version: 4.1.0
    date: '2026-04-19'
    changes:
    - Added Mesh Economics v1 API paths (/economics/api/*)
    - Added Mesh Nervous System discovery paths (/.well-known/agent-pulse, /.well-known/meta-tools)
    - Added /.well-known/mesh-economics discovery endpoint
  x-counts:
    servers_online: 89
    tools_available: 1096
    categories: 7
    chains_supported: 13
    paid_products: 18
  x-generated-at: '2026-09-20T02:13:01+00:00'
  x-hedera-mainnet:
    contract: 0.0.10420310
    beacon_topic: 0.0.10420280
    join_topic: 0.0.10420282
  description: 'Operations tagged Blockchain across 2 of this provider''s published API definitions: tooloracle-io-openapi.json, tooloracle-io-mcp-platform-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://tooloracle.io
tags:
- name: Blockchain
  description: '13 blockchain oracles: Arbitrum, Solana, TON, Sui, ETH, XLM, XRPL, BNB, Aptos, Base, Hedera, BTC, Flare'
paths:
  /arbitrum/mcp/:
    post:
      tags:
      - Blockchain
      summary: ARBITRUMOracle MCP
      operationId: arbitrumMcp
      responses:
        '200':
          description: MCP response
    servers:
    - url: https://tooloracle.io
  /solana/mcp/:
    post:
      tags:
      - Blockchain
      summary: SOLANAOracle MCP
      operationId: solanaMcp
      responses:
        '200':
          description: MCP response
    servers:
    - url: https://tooloracle.io
  /ton/mcp/:
    post:
      tags:
      - Blockchain
      summary: TONOracle MCP
      operationId: tonMcp
      responses:
        '200':
          description: MCP response
    servers:
    - url: https://tooloracle.io
  /sui/mcp/:
    post:
      tags:
      - Blockchain
      summary: SUIOracle MCP
      operationId: suiMcp
      responses:
        '200':
          description: MCP response
    servers:
    - url: https://tooloracle.io
  /eth/mcp/:
    post:
      tags:
      - Blockchain
      summary: ETHOracle MCP
      operationId: ethMcp
      responses:
        '200':
          description: MCP response
    servers:
    - url: https://tooloracle.io
  /xlm/mcp/:
    post:
      tags:
      - Blockchain
      summary: XLMOracle MCP
      operationId: xlmMcp
      responses:
        '200':
          description: MCP response
    servers:
    - url: https://tooloracle.io
  /xrpl/mcp/:
    post:
      summary: XRPLOracle — XRP Ledger Intelligence + RLUSD Stablecoin Compliance (31 tools)
      description: 'MCP endpoint for XRPLOracle — 31 tools for XRP Ledger intelligence and RLUSD stablecoin compliance. Groups: 15 XRPL intelligence (xrpl_overview, xrpl_account_intel, xrpl_dex_orderbook, xrpl_amm_pools, xrpl_payment_intel, xrpl_token_check, xrpl_escrow_monitor, xrpl_nft_intel, xrpl_nft_offers, xrpl_trust_lines, xrpl_server_state, xrpl_gateway_balances, xrpl_path_find, xrpl_ledger_data, xrpl_compliance_check); 9 RLUSD compliance (xrpl_rlusd, xrpl_rlusd_supply, xrpl_rlusd_cci, xrpl_rlusd_integrity, xrpl_rlusd_holders, xrpl_rlusd_service, xrpl_rlusd_anchor, xrpl_rlusd_webhook, xrpl_rlusd_enterprise); ISO 20022 + RWA scoring (xrpl_iso20022, xrpl_rwa_scoring); 5 OracleNet settlement (xrpl_quantum_join, xrpl_beacon_pulse, xrpl_settlement_status, xrpl_escrow_create, xrpl_escrow_check). Hero tools: xrpl_rlusd_integrity, xrpl_rlusd_cci, xrpl_rlusd_holders, xrpl_compliance_check, xrpl_token_check. Use case: autonomous agents performing RLUSD peg/reserve/holder due diligence and XRPL counterparty/token risk checks before settlement. Endpoint https://tooloracle.io/xrpl/mcp/ — free tier 100 calls/day, x402 USDC on Base for higher volume.'
      tags:
      - Blockchain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MCPRequest'
      responses:
        '200':
          description: MCP JSON-RPC response
      operationId: postXrplMcp
      x-operation-id-source: derived
    servers:
    - url: https://tooloracle.io
  /bnb/mcp/:
    post:
      tags:
      - Blockchain
      summary: BNBOracle MCP
      operationId: bnbMcp
      responses:
        '200':
          description: MCP response
    servers:
    - url: https://tooloracle.io
  /aptos/mcp/:
    post:
      tags:
      - Blockchain
      summary: APTOSOracle MCP
      operationId: aptosMcp
      responses:
        '200':
          description: MCP response
    servers:
    - url: https://tooloracle.io
  /base/mcp/:
    post:
      tags:
      - Blockchain
      summary: BASEOracle MCP
      operationId: baseMcp
      responses:
        '200':
          description: MCP response
    servers:
    - url: https://tooloracle.io
  /hedera/mcp/:
    post:
      tags:
      - Blockchain
      summary: HEDERAOracle MCP
      operationId: hederaMcp
      responses:
        '200':
          description: MCP response
    servers:
    - url: https://tooloracle.io
  /btc/mcp/:
    post:
      tags:
      - Blockchain
      summary: BTCOracle MCP
      operationId: btcMcp
      responses:
        '200':
          description: MCP response
    servers:
    - url: https://tooloracle.io
  /flare/mcp/:
    post:
      tags:
      - Blockchain
      summary: FLAREOracle MCP
      operationId: flareMcp
      responses:
        '200':
          description: MCP response
    servers:
    - url: https://tooloracle.io
externalDocs:
  description: x402 v2 buyer quickstart (pay one /v2 route and verify the signed NOMOS execution receipt)
  url: https://tooloracle.io/docs/x402-buyer-quickstart/
x-refined-from:
- tooloracle-io-openapi.json
- tooloracle-io-mcp-platform-openapi.yml
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
