openapi: 3.2.0
info:
  title: Tooloracle Io RWA History API
  version: 8.4.1+truthrepair.r1
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
  description: 'Operations tagged RWA History across 2 of this provider''s published API definitions: tooloracle-io-feedoracle-openapi.json, tooloracle-io-feedoracle-compliance-evidence-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: RWA History
  description: Historical score tracking and trend analysis
paths:
  /v1/rwa/history:
    servers:
    - url: https://feedoracle.io/api
      description: Public gateway that fronts the NOMOS admission and execution layers
    get:
      tags:
      - RWA History
      summary: All protocols - score history
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Historical scores
          headers:
            x-request-id:
              description: Server correlation id. Also bound inside the execution receipt as request_id.
              schema:
                type: string
                example: rq-09f447f0464a91fc
            x-content-hash:
              description: sha256 over the exact response body bytes as delivered.
              schema:
                type: string
                example: sha256:4d6bc10b...180a18
            x-nomos-execution-id:
              description: Execution id of this call's signed receipt.
              schema:
                type: string
                example: exe1_f426c37db9c42673932ab5bc13e60b3b
            x-nomos-receipt-digest:
              description: sha256 digest of the canonical receipt core.
              schema:
                type: string
                example: sha256:...
            x-nomos-receipt-kid:
              description: Ed25519 key id the receipt is signed with. Absent while a receipt is still SIGNATURE_PENDING - nothing then claims a signature that does not exist.
              schema:
                type: string
                example: exr1_40c4bc9a9f61988b
            x-nomos-receipt-url:
              description: Authenticated HTTPS URL serving the signed receipt for this call. Read the URL from here; do not construct it.
              schema:
                type: string
                format: uri
      x-nomos-governed-action: true
      operationId: getV1RwaHistory
      x-operation-id-source: derived
  /v1/rwa/history/{slug}:
    get:
      tags:
      - RWA History
      summary: Single protocol - score timeline
      security:
      - ApiKeyAuth: []
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
        description: Protocol slug
      responses:
        '200':
          description: Score history
        '404':
          description: Protocol not found
      operationId: getV1RwaHistoryBySlug
      x-operation-id-source: derived
    servers:
    - url: https://api.feedoracle.io
      description: Production
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-refined-from:
- tooloracle-io-feedoracle-openapi.json
- tooloracle-io-feedoracle-compliance-evidence-openapi.yml
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
