openapi: 3.2.0
info:
  title: Tooloracle Io Yields API
  version: 8.4.1+truthrepair.r1
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
  description: 'Operations tagged Yields across 2 of this provider''s published API definitions: tooloracle-io-feedoracle-openapi.json, tooloracle-io-feedoracle-compliance-evidence-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: Yields
paths:
  /api/v1/macro/yield-curve:
    get:
      tags:
      - Yields
      operationId: getYieldCurve
      summary: Full Treasury yield curve 1M-30Y
      description: '11 tenors: 1M,3M,6M,1Y,2Y,3Y,5Y,7Y,10Y,20Y,30Y with shape analysis'
      responses:
        '200':
          description: JSON with oracle_ready flag
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/macro/yield-curve/spreads:
    get:
      tags:
      - Yields
      operationId: getYieldSpreads
      summary: Yield curve spreads
      description: 2s10s, 3M-10Y, 5s30s, term premium, inversion signals
      responses:
        '200':
          description: JSON with oracle_ready flag
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/macro/yield-curve/tips:
    get:
      tags:
      - Yields
      operationId: getYieldTIPS
      summary: TIPS real yields
      description: 5Y,10Y,20Y,30Y TIPS and breakeven inflation
      responses:
        '200':
          description: JSON with oracle_ready flag
    servers:
    - url: https://api.feedoracle.io
      description: Production
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-refined-from:
- tooloracle-io-feedoracle-openapi.json
- tooloracle-io-feedoracle-compliance-evidence-openapi.yml
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
