openapi: 3.2.0
info:
  title: FeedOracle Compliance Evidence Stablecoin API
  version: 8.4.1+truthrepair.r1
  description: 'FeedOracle Compliance Evidence Infrastructure — 44 MCP servers, 590+ evidence tools across 17 data sources. DORA, MiCA, AMLR and CSRD compliance evidence APIs. ES256K-signed responses, blockchain-anchored. Canonical metrics: https://feedoracle.io/data/feedoracle-metrics.json.'
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: Stablecoin
  description: Stablecoin analytics covering 105+ coins — peg health, reserves, MiCA classification
paths:
  /api/v1/feeds/stablecoin:
    get:
      summary: Stablecoin Universe
      description: 'Returns comprehensive data for 105+ stablecoins including market cap, peg status, reserve composition, MiCA classification, and risk scores.


        Requires an API key (X-API-Key header). Corrected 2026-08-16: previously published as public.'
      tags:
      - Stablecoin
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      security:
      - ApiKeyAuth: []
      operationId: getApiV1FeedsStablecoin
      x-operation-id-source: derived
  /api/v1/feeds/stablecoin/meta:
    get:
      summary: Stablecoin Metadata
      description: 'Returns metadata for the stablecoin feed including data sources, update frequency, and coverage.


        Requires an API key (X-API-Key header). Corrected 2026-08-16: previously published as public.'
      tags:
      - Stablecoin
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      security:
      - ApiKeyAuth: []
      operationId: getApiV1FeedsStablecoinMeta
      x-operation-id-source: derived
  /api/v1/feeds/stablecoin/{symbol}:
    get:
      summary: Single Stablecoin Status
      description: 'Enterprise-grade single stablecoin status including peg health, reserve analysis, issuer details, MiCA classification, and compliance scores.


        Requires an API key (X-API-Key header). Corrected 2026-08-16: previously published as public.'
      tags:
      - Stablecoin
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: symbol
        in: path
        required: true
        schema:
          type: string
        description: Stablecoin symbol (e.g. usdc, usdt, dai)
      security:
      - ApiKeyAuth: []
      operationId: getApiV1FeedsStablecoinBySymbol
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
