openapi: 3.2.0
info:
  title: FeedOracle Compliance Evidence Macro Core API
  version: 8.4.1+truthrepair.r1
  description: 'FeedOracle Compliance Evidence Infrastructure — 44 MCP servers, 590+ evidence tools across 17 data sources. DORA, MiCA, AMLR and CSRD compliance evidence APIs. ES256K-signed responses, blockchain-anchored. Canonical metrics: https://feedoracle.io/data/feedoracle-metrics.json.'
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: Macro Core
paths:
  /api/v1/macro/health:
    get:
      tags:
      - Macro Core
      operationId: getMacroHealth
      summary: 'Macro: Economic Health Index 0-100, status: EXPANSION/STABLE/CAUTION/CONTRACTION'
      description: 'Economic Health Index 0-100, status: EXPANSION/STABLE/CAUTION/CONTRACTION'
      responses:
        '200':
          description: JSON with oracle_ready flag
  /api/v1/macro/all:
    get:
      tags:
      - Macro Core
      operationId: getMacroAll
      summary: 'Macro: All core indicators combined'
      description: All core indicators combined
      responses:
        '200':
          description: JSON with oracle_ready flag
  /api/v1/macro/fed:
    get:
      tags:
      - Macro Core
      operationId: getMacroFed
      summary: 'Macro: Fed Funds Rate, FOMC calendar, rate outlook, last change'
      description: Fed Funds Rate, FOMC calendar, rate outlook, last change
      responses:
        '200':
          description: JSON with oracle_ready flag
  /api/v1/macro/inflation:
    get:
      tags:
      - Macro Core
      operationId: getMacroInflation
      summary: 'Macro: CPI YoY, Core CPI, PCE, MoM change, target deviation'
      description: CPI YoY, Core CPI, PCE, MoM change, target deviation
      responses:
        '200':
          description: JSON with oracle_ready flag
  /api/v1/macro/yields:
    get:
      tags:
      - Macro Core
      operationId: getMacroYields
      summary: 'Macro: Key Treasury yields: 2Y, 10Y, 30Y, 2s10s spread'
      description: 'Key Treasury yields: 2Y, 10Y, 30Y, 2s10s spread'
      responses:
        '200':
          description: JSON with oracle_ready flag
  /api/v1/macro/gdp:
    get:
      tags:
      - Macro Core
      operationId: getMacroGDP
      summary: 'Macro: Real GDP growth QoQ annualized, nominal GDP'
      description: Real GDP growth QoQ annualized, nominal GDP
      responses:
        '200':
          description: JSON with oracle_ready flag
  /api/v1/macro/employment:
    get:
      tags:
      - Macro Core
      operationId: getMacroEmployment
      summary: 'Macro: Unemployment rate, nonfarm payrolls, labor force participation'
      description: Unemployment rate, nonfarm payrolls, labor force participation
      responses:
        '200':
          description: JSON with oracle_ready flag
  /api/v1/macro/risk:
    get:
      tags:
      - Macro Core
      operationId: getMacroRisk
      summary: 'Macro: Recession probability, risk assessment'
      description: Recession probability, risk assessment
      responses:
        '200':
          description: JSON with oracle_ready flag
        '402':
          description: Payment Required — API key missing or insufficient units. Returns pricing and registration instructions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 402
                  error:
                    type: string
                    example: payment_required
                  protocol:
                    type: string
                    example: feedoracle-402
                  message:
                    type: string
                  packages:
                    type: object
                  free_tools:
                    type: array
                    items:
                      type: string
  /api/v1/macro/sentiment:
    get:
      tags:
      - Macro Core
      operationId: getMacroSentiment
      summary: 'Macro: Consumer sentiment, Michigan survey'
      description: Consumer sentiment, Michigan survey
      responses:
        '200':
          description: JSON with oracle_ready flag
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
