openapi: 3.2.0
info:
  title: Tooloracle Io KYA - Know Your Agent API
  version: 8.4.1+truthrepair.r1
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
  description: 'Operations tagged KYA - Know Your Agent across 2 of this provider''s published API definitions: tooloracle-io-feedoracle-openapi.json, tooloracle-io-feedoracle-compliance-evidence-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: KYA - Know Your Agent
paths:
  /mcp/kya/register:
    post:
      summary: Register AI agent identity (KYA)
      description: Register agent metadata (name, purpose, org) to receive trust score and access level. Required for trust-gated tools.
      tags:
      - KYA - Know Your Agent
      operationId: kya_register
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                agent_name:
                  type: string
                agent_purpose:
                  type: string
                owner_email:
                  type: string
                owner_org:
                  type: string
                owner_jurisdiction:
                  type: string
                risk_appetite:
                  type: string
                  enum:
                  - conservative
                  - moderate
                  - aggressive
              required:
              - agent_name
              - agent_purpose
              - owner_email
              - owner_org
      responses:
        '200':
          description: Agent registered with trust score and access level
    servers:
    - url: https://api.feedoracle.io
      description: Production
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-refined-from:
- tooloracle-io-feedoracle-openapi.json
- tooloracle-io-feedoracle-compliance-evidence-openapi.yml
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
