openapi: 3.2.0
info:
  title: FeedOracle Compliance Evidence Real Estate API
  version: 8.4.1+truthrepair.r1
  description: 'FeedOracle Compliance Evidence Infrastructure — 44 MCP servers, 590+ evidence tools across 17 data sources. DORA, MiCA, AMLR and CSRD compliance evidence APIs. ES256K-signed responses, blockchain-anchored. Canonical metrics: https://feedoracle.io/data/feedoracle-metrics.json.'
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: Real Estate
paths:
  /api/v1/macro/realestate:
    get:
      tags:
      - Real Estate
      operationId: getRealEstate
      summary: Housing overview
      description: Prices, rates, activity metrics
      responses:
        '200':
          description: JSON with oracle_ready flag
  /api/v1/macro/realestate/prices:
    get:
      tags:
      - Real Estate
      operationId: getREPrices
      summary: Home prices
      description: Case-Shiller, FHFA HPI, median price
      responses:
        '200':
          description: JSON with oracle_ready flag
  /api/v1/macro/realestate/mortgage:
    get:
      tags:
      - Real Estate
      operationId: getMortgage
      summary: Mortgage rates
      description: 30Y, 15Y fixed, ARM rates
      responses:
        '200':
          description: JSON with oracle_ready flag
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
