openapi: 3.2.0
info:
  title: Tooloracle Io Supply Chain API
  version: 8.4.1+truthrepair.r1
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
  description: 'Operations tagged SupplyChain across 2 of this provider''s published API definitions: tooloracle-io-feedoracle-openapi.json, tooloracle-io-feedoracle-compliance-evidence-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: SupplyChain
  description: Supply chain tracking (Key required)
paths:
  /api/v1/feeds/supplychain/status:
    get:
      tags:
      - SupplyChain
      operationId: getSupplychainStatus
      summary: Supply chain status
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Status
        '401':
          description: Unauthorized
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/feeds/supplychain/stats:
    get:
      tags:
      - SupplyChain
      operationId: getSupplychainStats
      summary: Supply chain statistics
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Stats
        '401':
          description: Unauthorized
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/feeds/supplychain/carbon:
    get:
      tags:
      - SupplyChain
      operationId: getSupplychainCarbon
      summary: Supply chain carbon tracking
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Carbon data
        '401':
          description: Unauthorized
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/feeds/supplychain/transfers:
    get:
      tags:
      - SupplyChain
      operationId: getSupplychainTransfers
      summary: Supply chain transfers
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Transfer log
        '401':
          description: Unauthorized
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/feeds/supplychain/product/{product_id}:
    get:
      tags:
      - SupplyChain
      operationId: getSupplychainProduct
      summary: Product tracking
      security:
      - ApiKeyAuth: []
      parameters:
      - name: product_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Product journey
        '401':
          description: Unauthorized
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/feeds/supplychain/health:
    get:
      tags:
      - SupplyChain
      operationId: getSupplychainHealth
      summary: Supply chain health
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
      description: 'Requires an API key (X-API-Key header). Corrected 2026-08-16: previously published as public.'
    servers:
    - url: https://api.feedoracle.io
      description: Production
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-refined-from:
- tooloracle-io-feedoracle-openapi.json
- tooloracle-io-feedoracle-compliance-evidence-openapi.yml
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
