openapi: 3.2.0
info:
  title: Tooloracle Io Health API
  version: 8.4.1+truthrepair.r1
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
  description: 'Operations tagged Health across 2 of this provider''s published API definitions: tooloracle-io-feedoracle-openapi.json, tooloracle-io-feedoracle-compliance-evidence-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: Health
  description: System health endpoints (Public)
paths:
  /api/v1/feeds/health:
    get:
      tags:
      - Health
      operationId: getFeedsHealth
      summary: Feed API health
      responses:
        '200':
          description: Feed service status
      security:
      - ApiKeyAuth: []
      description: 'Requires an API key (X-API-Key header). Corrected 2026-08-16: previously published as public.'
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/feeds/health-carbon:
    get:
      tags:
      - Health
      operationId: getCarbonHealth
      summary: Carbon feed health
      responses:
        '200':
          description: Carbon service status
      security:
      - ApiKeyAuth: []
      description: 'Requires an API key (X-API-Key header). Corrected 2026-08-16: previously published as public.'
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/events:
    get:
      tags:
      - Health
      operationId: getEvents
      summary: System events feed
      responses:
        '200':
          description: Events stream
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/feeds/health/{symbol}:
    get:
      tags:
      - Health
      operationId: getFeedHealthSymbol
      summary: Feed health by symbol
      parameters:
      - name: symbol
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Health status
      security:
      - ApiKeyAuth: []
      description: 'Requires an API key (X-API-Key header). Corrected 2026-08-16: previously published as public.'
    servers:
    - url: https://api.feedoracle.io
      description: Production
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-refined-from:
- tooloracle-io-feedoracle-openapi.json
- tooloracle-io-feedoracle-compliance-evidence-openapi.yml
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
