openapi: 3.2.0
info:
  title: FeedOracle Compliance Evidence MiCA Ampel API
  version: 8.4.1+truthrepair.r1
  description: 'FeedOracle Compliance Evidence Infrastructure — 44 MCP servers, 590+ evidence tools across 17 data sources. DORA, MiCA, AMLR and CSRD compliance evidence APIs. ES256K-signed responses, blockchain-anchored. Canonical metrics: https://feedoracle.io/data/feedoracle-metrics.json.'
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: MiCA Ampel
  description: MiCA stablecoin compliance monitoring — 24 tools, 17 tokens, 13 issuers
paths:
  /mica-ampel/mcp/:
    post:
      tags:
      - MiCA Ampel
      summary: MiCA AmpelOracle MCP endpoint (24 tools)
      description: 'MiCA stablecoin compliance via MCP protocol. Tools: readiness_check, assess_token, assess_entity, validate_whitepaper, insider_escalation, stor_workflow, generate_report. 17 tokens, 13 issuers.'
      operationId: micaAmpelMcp
      responses:
        '200':
          description: MCP JSON-RPC response
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
