openapi: 3.2.0
info:
  title: FeedOracle Compliance Evidence RWA Legal State API
  version: 8.4.1+truthrepair.r1
  description: 'FeedOracle Compliance Evidence Infrastructure — 44 MCP servers, 590+ evidence tools across 17 data sources. DORA, MiCA, AMLR and CSRD compliance evidence APIs. ES256K-signed responses, blockchain-anchored. Canonical metrics: https://feedoracle.io/data/feedoracle-metrics.json.'
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: RWA Legal State
  description: Contract powers, transfer finality, dispute resolution
paths:
  /v1/rwa/legal-state:
    servers:
    - url: https://feedoracle.io/api
      description: Public gateway that fronts the NOMOS admission and execution layers
    get:
      tags:
      - RWA Legal State
      summary: All protocols - legal structure
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Legal state overview
          headers:
            x-request-id:
              description: Server correlation id. Also bound inside the execution receipt as request_id.
              schema:
                type: string
                example: rq-09f447f0464a91fc
            x-content-hash:
              description: sha256 over the exact response body bytes as delivered.
              schema:
                type: string
                example: sha256:4d6bc10b...180a18
            x-nomos-execution-id:
              description: Execution id of this call's signed receipt.
              schema:
                type: string
                example: exe1_f426c37db9c42673932ab5bc13e60b3b
            x-nomos-receipt-digest:
              description: sha256 digest of the canonical receipt core.
              schema:
                type: string
                example: sha256:...
            x-nomos-receipt-kid:
              description: Ed25519 key id the receipt is signed with. Absent while a receipt is still SIGNATURE_PENDING - nothing then claims a signature that does not exist.
              schema:
                type: string
                example: exr1_40c4bc9a9f61988b
            x-nomos-receipt-url:
              description: Authenticated HTTPS URL serving the signed receipt for this call. Read the URL from here; do not construct it.
              schema:
                type: string
                format: uri
      x-nomos-governed-action: true
      operationId: getV1RwaLegalState
      x-operation-id-source: derived
  /v1/rwa/legal-state/{slug}:
    get:
      tags:
      - RWA Legal State
      summary: Single protocol - legal details
      description: Contract powers, transfer finality, dispute resolution, governance.
      security:
      - ApiKeyAuth: []
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
        description: Protocol slug
      responses:
        '200':
          description: Legal state details
        '404':
          description: Protocol not found
      operationId: getV1RwaLegalStateBySlug
      x-operation-id-source: derived
  /v1/rwa/legal-state/search:
    get:
      tags:
      - RWA Legal State
      summary: Search legal states
      security:
      - ApiKeyAuth: []
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
        description: Keyword (e.g. multisig, timelock, arbitration)
      responses:
        '200':
          description: Matching entries
      operationId: getV1RwaLegalStateSearch
      x-operation-id-source: derived
  /v1/rwa/legal-state/stats:
    servers:
    - url: https://feedoracle.io/api
      description: Public gateway that fronts the NOMOS admission and execution layers
    get:
      tags:
      - RWA Legal State
      summary: Legal state statistics
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Aggregate legal stats
          headers:
            x-request-id:
              description: Server correlation id. Also bound inside the execution receipt as request_id.
              schema:
                type: string
                example: rq-09f447f0464a91fc
            x-content-hash:
              description: sha256 over the exact response body bytes as delivered.
              schema:
                type: string
                example: sha256:4d6bc10b...180a18
            x-nomos-execution-id:
              description: Execution id of this call's signed receipt.
              schema:
                type: string
                example: exe1_f426c37db9c42673932ab5bc13e60b3b
            x-nomos-receipt-digest:
              description: sha256 digest of the canonical receipt core.
              schema:
                type: string
                example: sha256:...
            x-nomos-receipt-kid:
              description: Ed25519 key id the receipt is signed with. Absent while a receipt is still SIGNATURE_PENDING - nothing then claims a signature that does not exist.
              schema:
                type: string
                example: exr1_40c4bc9a9f61988b
            x-nomos-receipt-url:
              description: Authenticated HTTPS URL serving the signed receipt for this call. Read the URL from here; do not construct it.
              schema:
                type: string
                format: uri
      x-nomos-governed-action: true
      operationId: getV1RwaLegalStateStats
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
