openapi: 3.2.0
info:
  title: FeedOracle Compliance Evidence EU Energy API
  version: 8.4.1+truthrepair.r1
  description: 'FeedOracle Compliance Evidence Infrastructure — 44 MCP servers, 590+ evidence tools across 17 data sources. DORA, MiCA, AMLR and CSRD compliance evidence APIs. ES256K-signed responses, blockchain-anchored. Canonical metrics: https://feedoracle.io/data/feedoracle-metrics.json.'
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: EU Energy
paths:
  /api/v1/eu-energy/generation/{country}:
    get:
      tags:
      - EU Energy
      summary: Real-time electricity generation by source from ENTSO-E Transparency Platform
      parameters:
      - name: country
        in: path
        required: true
        schema:
          type: string
        description: Country code (e.g., DE, FR, ES, IT)
      responses:
        '200':
          description: Generation by type with renewable percentage, updated every 15 minutes
      operationId: getApiV1EuEnergyGenerationByCountry
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
