openapi: 3.2.0
info:
  title: FeedOracle Compliance Evidence ECB API
  version: 8.4.1+truthrepair.r1
  description: 'FeedOracle Compliance Evidence Infrastructure — 44 MCP servers, 590+ evidence tools across 17 data sources. DORA, MiCA, AMLR and CSRD compliance evidence APIs. ES256K-signed responses, blockchain-anchored. Canonical metrics: https://feedoracle.io/data/feedoracle-metrics.json.'
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: ECB
paths:
  /api/v1/macro/ecb:
    get:
      tags:
      - ECB
      operationId: getECB
      summary: ECB overview
      description: 'Key rates, EUR/USD, HICP inflation, GDP, unemployment. Source: ECB Data Portal'
      responses:
        '200':
          description: JSON with oracle_ready flag
  /api/v1/macro/ecb/rates:
    get:
      tags:
      - ECB
      operationId: getECBRates
      summary: ECB interest rates
      description: Refi, deposit, marginal lending, eSTR, EURIBOR 3M/6M/12M
      responses:
        '200':
          description: JSON with oracle_ready flag
  /api/v1/macro/ecb/fx:
    get:
      tags:
      - ECB
      operationId: getECBFX
      summary: ECB exchange rates
      description: EUR vs USD,GBP,JPY,CHF,CNY + EUR strength index
      responses:
        '200':
          description: JSON with oracle_ready flag
  /api/v1/macro/ecb/inflation:
    get:
      tags:
      - ECB
      operationId: getECBInflation
      summary: Eurozone inflation
      description: EA HICP, core HICP, Germany HICP, target assessment
      responses:
        '200':
          description: JSON with oracle_ready flag
  /api/v1/macro/ecb/economy:
    get:
      tags:
      - ECB
      operationId: getECBEconomy
      summary: Eurozone economy
      description: GDP growth, unemployment, M3 money supply
      responses:
        '200':
          description: JSON with oracle_ready flag
  /api/v1/macro/ecb/yields:
    get:
      tags:
      - ECB
      operationId: getECBYields
      summary: EA bond yields
      description: 10Y AAA government bond yield, real yield
      responses:
        '200':
          description: JSON with oracle_ready flag
  /api/v1/macro/ecb/series/{series_id}:
    get:
      tags:
      - ECB
      operationId: getECBSeries
      summary: Single ECB series
      description: Any of the 20 ECB series
      parameters:
      - name: series_id
        in: path
        required: true
        schema:
          type: string
        description: e.g. eur_usd, deposit_rate, hicp_ea, gdp_ea
      responses:
        '200':
          description: JSON with oracle_ready flag
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
