openapi: 3.2.0
info:
  title: Tooloracle Io Security API
  x-refined-note:
  - x-canonical-source differs across the merged source definitions and was not carried
  - x-changelog differs across the merged source definitions and was not carried
  - x-counts differs across the merged source definitions and was not carried
  - x-generated-at differs across the merged source definitions and was not carried
  - x-hedera-mainnet differs across the merged source definitions and was not carried
  - x-payment-protocol differs across the merged source definitions and was not carried
  - x-provider differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged security across 3 of this provider''s published API definitions: tooloracle-io-openapi.json, tooloracle-io-mcp-platform-openapi.yml, tooloracle-io-x402-v2-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://tooloracle.io
tags:
- name: Security
paths:
  /v2/cve_lookup:
    post:
      operationId: v2_cve_lookup
      tags:
      - Security
      summary: NIST NVD CVE search by keyword, vendor, or product — CVSS score, CWE, references
      description: 'AgentNOMOS CVE Vulnerability Intelligence Lookup: Keyword, vendor or product search against the NIST NVD database. Returns per CVE: cve_id, published date, CVSS base score and vector string, attack vector, CWE class, description excerpt, references and the NVD detail URL. Source is NIST NVD only — no CISA KEV and no MITRE ATT&CK integration. For automated security checks and agent workflows.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                keyword:
                  type: string
                  description: Search keyword, vendor, or product name
                limit:
                  type: integer
                  description: Max results (default 10, max 50)
              required:
              - keyword
            example:
              keyword: openssl
              limit: 5
      responses:
        '200':
          description: Success (synthetic example)
          content:
            application/json:
              example:
                total_results: 10
                returned: 1
                vulnerabilities:
                - cve_id: CVE-2026-45363
                  published: '2026-07-14'
                  cvss_score: 9.1
                  attack_vector: NETWORK
                  cwe: CWE-287
                  nvd_url: https://nvd.nist.gov/vuln/detail/CVE-2026-45363
                source: NIST NVD
        '402':
          description: 'Payment Required (x402 v2): payment requirements are in the PAYMENT-REQUIRED response header (accepts[]); retry with the PAYMENT-SIGNATURE header (USDC on Base, eip155:8453). Success carries the PAYMENT-RESPONSE settlement header. The legacy X-PAYMENT header is not accepted on /v2 routes.'
        '400':
          description: Bad Request — invalid or missing parameters.
      x-x402:
        price: $0.005
        currency: USDC
        network: eip155:8453
        method: POST
        example_type: synthetic
    servers:
    - url: https://tooloracle.io
components:
  schemas:
    cveLookupInput:
      type: object
      properties:
        keyword:
          type: string
          description: Search keyword, vendor, or product name.
        limit:
          type: integer
          description: Max results (default 10, max 50).
          minimum: 1
          maximum: 50
      required:
      - keyword
      additionalProperties: false
    cveLookupOutput:
      type: object
      properties:
        total_results:
          type: integer
        returned:
          type: integer
        vulnerabilities:
          type: array
          items:
            type: object
            properties:
              cve_id:
                type: string
              published:
                type: string
              cvss_score:
                type: number
              attack_vector:
                type: string
              cwe:
                type: string
              nvd_url:
                type: string
        source:
          type: string
    X402PaymentRequired:
      type: object
      description: Standard x402 v2 Payment-Required challenge.
      properties:
        x402Version:
          type: integer
          examples:
          - 2
        accepts:
          type: array
          items:
            type: object
            properties:
              scheme:
                type: string
                examples:
                - exact
              network:
                type: string
                examples:
                - eip155:8453
              maxAmountRequired:
                type: string
                description: Atomic USDC units (6 decimals).
              price:
                type: string
                examples:
                - $0.01
              asset:
                type: string
                examples:
                - '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
              payTo:
                type: string
                examples:
                - '0x11f591C3496C0632e7B173184f5Bc71dC941125D'
        error:
          type: string
    Error:
      type: object
      properties:
        error:
          type: string
        code:
          type: string
        message:
          type: string
externalDocs:
  description: x402 v2 buyer quickstart (pay one /v2 route and verify the signed NOMOS execution receipt)
  url: https://tooloracle.io/docs/x402-buyer-quickstart/
x-refined-from:
- tooloracle-io-openapi.json
- tooloracle-io-mcp-platform-openapi.yml
- tooloracle-io-x402-v2-openapi.yml
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
