openapi: 3.2.0
info:
  title: Tooloracle Io Fiscal API
  version: 8.4.1+truthrepair.r1
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
  description: 'Operations tagged Fiscal across 2 of this provider''s published API definitions: tooloracle-io-feedoracle-openapi.json, tooloracle-io-feedoracle-compliance-evidence-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: Fiscal
paths:
  /api/v1/macro/fiscal:
    get:
      tags:
      - Fiscal
      operationId: getFiscal
      summary: Federal debt overview
      description: Total debt, deficit, debt-to-GDP, foreign holdings
      responses:
        '200':
          description: JSON with oracle_ready flag
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/macro/fiscal/debt:
    get:
      tags:
      - Fiscal
      operationId: getFiscalDebt
      summary: Federal debt
      description: Debt total, foreign held, Debt/GDP ratio
      responses:
        '200':
          description: JSON with oracle_ready flag
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/macro/fiscal/trade:
    get:
      tags:
      - Fiscal
      operationId: getFiscalTrade
      summary: Trade balance
      description: Trade balance, USD index, monetary base
      responses:
        '200':
          description: JSON with oracle_ready flag
    servers:
    - url: https://api.feedoracle.io
      description: Production
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-refined-from:
- tooloracle-io-feedoracle-openapi.json
- tooloracle-io-feedoracle-compliance-evidence-openapi.yml
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
