openapi: 3.2.0
info:
  title: Tooloracle Io Mesh Nervous System API
  version: 4.2.0
  x-canonical-source: https://tooloracle.io/assets/catalog.json
  x-changelog:
  - version: 4.2.0
    date: '2026-04-28'
    changes:
    - Canonicalized counts from /assets/catalog.json
    - Aligned root /openapi.json with /.well-known/openapi.json
    - Added x-counts and x-canonical-source extensions
  - version: 4.1.0
    date: '2026-04-19'
    changes:
    - Added Mesh Economics v1 API paths (/economics/api/*)
    - Added Mesh Nervous System discovery paths (/.well-known/agent-pulse, /.well-known/meta-tools)
    - Added /.well-known/mesh-economics discovery endpoint
  x-counts:
    servers_online: 89
    tools_available: 1096
    categories: 7
    chains_supported: 13
    paid_products: 18
  x-generated-at: '2026-09-20T02:13:01+00:00'
  x-hedera-mainnet:
    contract: 0.0.10420310
    beacon_topic: 0.0.10420280
    join_topic: 0.0.10420282
  description: 'Operations tagged Mesh Nervous System across 2 of this provider''s published API definitions: tooloracle-io-openapi.json, tooloracle-io-mcp-platform-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://tooloracle.io
tags:
- name: Mesh Nervous System
  description: 'Live mesh signals for autonomous agents: gravity, emergent patterns, meta-tool candidates.'
paths:
  /.well-known/agent-pulse:
    get:
      summary: Mesh Nervous System — agent pulse (gravity, emergent patterns)
      description: Gravity score, cross-LLM gaps, discovery links, emergent patterns. Updated every 5 minutes.
      tags:
      - Mesh Nervous System
      responses:
        '200':
          description: Pulse JSON
      operationId: getWellKnownAgentPulse
      x-operation-id-source: derived
    servers:
    - url: https://tooloracle.io
  /.well-known/meta-tools:
    get:
      summary: Mesh Nervous System — meta-tool candidates
      description: 'Emergent tool-composition patterns discovered from real external agent traffic. 3-stage pipeline: discover (active), simulate (planned), promote (planned).'
      tags:
      - Mesh Nervous System
      responses:
        '200':
          description: Meta-tools JSON
      operationId: getWellKnownMetaTools
      x-operation-id-source: derived
    servers:
    - url: https://tooloracle.io
externalDocs:
  description: x402 v2 buyer quickstart (pay one /v2 route and verify the signed NOMOS execution receipt)
  url: https://tooloracle.io/docs/x402-buyer-quickstart/
x-refined-from:
- tooloracle-io-openapi.json
- tooloracle-io-mcp-platform-openapi.yml
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
