openapi: 3.2.0
info:
  title: Tooloracle Io Macro Oracle API
  version: 8.4.1+truthrepair.r1
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
  description: 'Operations tagged Macro Oracle across 2 of this provider''s published API definitions: tooloracle-io-feedoracle-openapi.json, tooloracle-io-feedoracle-compliance-evidence-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: Macro Oracle
  description: US macro-economic data from FRED — health index, inflation, GDP, fed rates, yield curve
paths:
  /api/v1/macro/defi-relevant:
    get:
      tags:
      - Macro Oracle
      summary: DeFi Macro Bundle
      description: Curated macro-economic data bundle for DeFi/RWA protocols. Includes SOFR lending rates, VIX/credit spreads, BTC/ETH reference prices, yield curve, inflation expectations, EUR/USD, and S&P 500 — with computed risk level.
      operationId: getDefiMacroBundle
      responses:
        '200':
          description: DeFi-relevant macro bundle with risk level
    servers:
    - url: https://api.feedoracle.io
      description: Production
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-refined-from:
- tooloracle-io-feedoracle-openapi.json
- tooloracle-io-feedoracle-compliance-evidence-openapi.yml
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
