openapi: 3.2.0
info:
  title: Tooloracle Io AI Gateway API
  version: 8.4.1+truthrepair.r1
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
  description: 'Operations tagged AI Gateway across 2 of this provider''s published API definitions: tooloracle-io-feedoracle-openapi.json, tooloracle-io-feedoracle-compliance-evidence-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: AI Gateway
paths:
  /ai/query:
    post:
      summary: Natural Language → Evidence Bundle
      description: Submit a natural language question, receive a cryptographically signed evidence bundle. Two-tier intent classification (regex + DeepSeek fallback). Every response includes evidence{}, jws{}, sla{}, trust{}, schema_ref.
      tags:
      - AI Gateway
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                question:
                  type: string
                  example: Is USDC MiCA compliant?
                symbol:
                  type: string
                  example: USDC
              required:
              - question
      responses:
        '200':
          description: Signed evidence bundle with JWS, SLA, trust metadata
      operationId: postAiQuery
      x-operation-id-source: derived
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /ai/explain:
    post:
      summary: Grade Explainability
      description: Explain why an asset received a specific compliance grade. Returns per-dimension scoring with regulatory article references.
      tags:
      - AI Gateway
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                symbol:
                  type: string
                evidence_pack_id:
                  type: string
      responses:
        '200':
          description: Dimension-level scoring explanation
      operationId: postAiExplain
      x-operation-id-source: derived
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /ai/provenance:
    post:
      summary: Data Provenance Graph
      description: Full provenance chain from source data to evidence bundle. Every node individually hashed, Merkle-chained.
      tags:
      - AI Gateway
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                symbol:
                  type: string
                frameworks:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Provenance graph with upstream hashes
      operationId: postAiProvenance
      x-operation-id-source: derived
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /evidence/bundle:
    post:
      summary: Multi-Framework Evidence Bundle
      description: Aggregate evidence across multiple frameworks (mica, dora, rwa, macro, stablecoin_risk) in a single request.
      tags:
      - AI Gateway
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                asset:
                  type: string
                  example: USDC
                frameworks:
                  type: array
                  items:
                    type: string
                  example:
                  - mica
                  - macro
      responses:
        '200':
          description: Multi-framework evidence bundle with JWS, SLA
      operationId: postEvidenceBundle
      x-operation-id-source: derived
    servers:
    - url: https://api.feedoracle.io
      description: Production
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-refined-from:
- tooloracle-io-feedoracle-openapi.json
- tooloracle-io-feedoracle-compliance-evidence-openapi.yml
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
