openapi: 3.2.0
info:
  title: Tooloracle Io Disclosure API
  version: 8.4.1+truthrepair.r1
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
  description: 'Operations tagged Disclosure across 2 of this provider''s published API definitions: tooloracle-io-feedoracle-openapi.json, tooloracle-io-feedoracle-compliance-evidence-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: Disclosure
  description: v3 Sustainability disclosure (Public)
paths:
  /api/v3/disclosure/networks:
    get:
      tags:
      - Disclosure
      operationId: getDisclosureNetworks
      summary: All networks with sustainability disclosure
      description: Networks with attestation for MiCA/CSRD
      responses:
        '200':
          description: Disclosure data with disclosure_support, attestation, legal, temporal keys
        '429':
          description: Rate limited
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v3/disclosure/sustainability/{symbol}:
    get:
      tags:
      - Disclosure
      operationId: getDisclosureSustainability
      summary: Single network sustainability report
      parameters:
      - name: symbol
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Full sustainability report
        '404':
          description: Network not found
    servers:
    - url: https://api.feedoracle.io
      description: Production
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-refined-from:
- tooloracle-io-feedoracle-openapi.json
- tooloracle-io-feedoracle-compliance-evidence-openapi.yml
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
