openapi: 3.2.0
info:
  title: FeedOracle Compliance Evidence Test Oracle API
  version: 8.4.1+truthrepair.r1
  description: 'FeedOracle Compliance Evidence Infrastructure — 44 MCP servers, 590+ evidence tools across 17 data sources. DORA, MiCA, AMLR and CSRD compliance evidence APIs. ES256K-signed responses, blockchain-anchored. Canonical metrics: https://feedoracle.io/data/feedoracle-metrics.json.'
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: TestOracle
  description: DORA Art. 24-27 resilience testing MCP server. 16 tools, 12 scenarios, TLPT tracking, AmpelOracle sync.
paths:
  /test/mcp/:
    post:
      tags:
      - TestOracle
      summary: TestOracle MCP (16 tools) — DORA Resilience Testing
      description: 'Art. 24-27 testing management: create_test_programme, register_test, scenario_library, tlpt_status, tester_qualification, test_coverage, sync_to_ampel, evidence_pack, obligation_map.'
      operationId: testOracleMcp
      responses:
        '200':
          description: MCP JSON-RPC response
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
