openapi: 3.2.0
info:
  title: Tooloracle Io Trading API
  version: 8.4.1+truthrepair.r1
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
  description: 'Operations tagged Trading across 2 of this provider''s published API definitions: tooloracle-io-feedoracle-openapi.json, tooloracle-io-feedoracle-compliance-evidence-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: Trading
  description: Trading signals (Key required)
paths:
  /api/v1/feeds/trading/radar:
    get:
      tags:
      - Trading
      operationId: getTradingRadar
      summary: Trading radar signals
      description: Real-time trading opportunities
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Radar signals
        '401':
          description: Unauthorized
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/feeds/trading/alpha:
    get:
      tags:
      - Trading
      operationId: getTradingAlpha
      summary: Alpha signals
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Alpha opportunities
        '401':
          description: Unauthorized
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/feeds/trading/bias:
    get:
      tags:
      - Trading
      operationId: getTradingBias
      summary: Market bias indicators
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Bias data
        '401':
          description: Unauthorized
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/feeds/trading/tokens:
    get:
      tags:
      - Trading
      operationId: getTradingTokens
      summary: Tracked tokens list
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Token list
        '401':
          description: Unauthorized
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/feeds/trading/asset/{symbol}:
    get:
      tags:
      - Trading
      operationId: getTradingAsset
      summary: Single asset trading data
      security:
      - ApiKeyAuth: []
      parameters:
      - name: symbol
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Asset data
        '401':
          description: Unauthorized
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/feeds/rsi:
    get:
      tags:
      - Trading
      operationId: getRsi
      summary: RSI indicators
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: RSI data
        '401':
          description: Unauthorized
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/feeds/treasury:
    get:
      tags:
      - Trading
      operationId: getTreasury
      summary: Treasury data
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Treasury metrics
        '401':
          description: Unauthorized
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/feeds/trust/combined:
    get:
      tags:
      - Trading
      operationId: getTrustCombined
      summary: Combined trust score
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Trust scores
        '401':
          description: Unauthorized
    servers:
    - url: https://api.feedoracle.io
      description: Production
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-refined-from:
- tooloracle-io-feedoracle-openapi.json
- tooloracle-io-feedoracle-compliance-evidence-openapi.yml
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
