openapi: 3.2.0
info:
  title: Tooloracle Io Billing API
  version: 8.4.1+truthrepair.r1
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
  description: 'Operations tagged Billing across 2 of this provider''s published API definitions: tooloracle-io-feedoracle-openapi.json, tooloracle-io-feedoracle-compliance-evidence-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: Billing
paths:
  /api/billing/register:
    post:
      tags:
      - Billing
      summary: Free API key — no credit card, no browser
      description: Self-service registration. Returns API key immediately. 500 welcome units, no credit card required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
              required:
              - email
      responses:
        '200':
          description: API key issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  api_key:
                    type: string
                    example: fo_f_...
                  tier:
                    type: string
                    example: free
      operationId: postApiBillingRegister
      x-operation-id-source: derived
    servers:
    - url: https://api.feedoracle.io
      description: Production
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-refined-from:
- tooloracle-io-feedoracle-openapi.json
- tooloracle-io-feedoracle-compliance-evidence-openapi.yml
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
