openapi: 3.2.0
info:
  title: FeedOracle Compliance Evidence RWA ESG API
  version: 8.4.1+truthrepair.r1
  description: 'FeedOracle Compliance Evidence Infrastructure — 44 MCP servers, 590+ evidence tools across 17 data sources. DORA, MiCA, AMLR and CSRD compliance evidence APIs. ES256K-signed responses, blockchain-anchored. Canonical metrics: https://feedoracle.io/data/feedoracle-metrics.json.'
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: RWA ESG
  description: Chain-weighted carbon footprint scoring
paths:
  /v1/rwa/esg/{slug}:
    get:
      tags:
      - RWA ESG
      summary: ESG / carbon score
      description: Chain-weighted carbon footprint scoring with data provenance.
      security:
      - ApiKeyAuth: []
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
        description: Protocol slug
      responses:
        '200':
          description: ESG score
          content:
            application/json:
              schema:
                type: object
                properties:
                  score:
                    type: integer
                  category:
                    type: string
                    enum:
                    - EXCELLENT
                    - GOOD
                    - MODERATE
                    - POOR
                  chains_matched:
                    type: integer
        '404':
          description: Protocol not found
      operationId: getV1RwaEsgBySlug
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
