openapi: 3.2.0
info:
  title: Tooloracle Io Attestations API
  version: 8.4.1+truthrepair.r1
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
  description: 'Operations tagged Attestations across 2 of this provider''s published API definitions: tooloracle-io-feedoracle-openapi.json, tooloracle-io-feedoracle-compliance-evidence-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: Attestations
paths:
  /api/v3/attestations/{attestation_id}:
    get:
      tags:
      - Attestations
      operationId: getAttestation
      summary: Get attestation by ID
      security: []
      parameters:
      - name: attestation_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Attestation data
        '404':
          description: Not found
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v3/attestations/verify/{attestation_id}:
    get:
      tags:
      - Attestations
      operationId: verifyAttestationV3
      summary: Verify attestation on-chain
      security: []
      parameters:
      - name: attestation_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Verification result
    servers:
    - url: https://api.feedoracle.io
      description: Production
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-refined-from:
- tooloracle-io-feedoracle-openapi.json
- tooloracle-io-feedoracle-compliance-evidence-openapi.yml
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
