openapi: 3.2.0
info:
  title: Tooloracle Io L2 API
  version: 8.4.1+truthrepair.r1
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
  description: 'Operations tagged L2 across 2 of this provider''s published API definitions: tooloracle-io-feedoracle-openapi.json, tooloracle-io-feedoracle-compliance-evidence-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: L2
  description: Layer 2 fee oracle (Public)
paths:
  /api/v2/l2/cheapest:
    get:
      tags:
      - L2
      operationId: getL2Cheapest
      summary: Get cheapest healthy L2 chain
      description: Returns recommended L2 with full ranking by gas cost
      responses:
        '200':
          description: L2 ranking with gas prices in USD
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v2/l2/health:
    get:
      tags:
      - L2
      operationId: getL2Health
      summary: L2 sequencer health status
      description: Health for 8 L2 chains (ARB, OP, BASE, etc.)
      responses:
        '200':
          description: Health status array
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v2/l2/all:
    get:
      tags:
      - L2
      operationId: getL2All
      summary: All L2 chain data
      responses:
        '200':
          description: Complete L2 data for all chains
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v2/l2/status/{chain}:
    get:
      tags:
      - L2
      operationId: getL2Status
      summary: Single L2 chain status
      parameters:
      - name: chain
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Chain details
        '404':
          description: Chain not found
    servers:
    - url: https://api.feedoracle.io
      description: Production
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-refined-from:
- tooloracle-io-feedoracle-openapi.json
- tooloracle-io-feedoracle-compliance-evidence-openapi.yml
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
