openapi: 3.2.0
info:
  title: FeedOracle Compliance Evidence Agent Trust Management API
  version: 8.4.1+truthrepair.r1
  description: 'FeedOracle Compliance Evidence Infrastructure — 44 MCP servers, 590+ evidence tools across 17 data sources. DORA, MiCA, AMLR and CSRD compliance evidence APIs. ES256K-signed responses, blockchain-anchored. Canonical metrics: https://feedoracle.io/data/feedoracle-metrics.json.'
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: Agent Trust Management
paths:
  /ai/agent/register:
    post:
      summary: Register AI Agent
      description: Register a new AI agent. Returns agent_id, API key (90-day lifecycle), and initial reputation score (50/100).
      tags:
      - Agent Trust Management
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - agent_name
              properties:
                agent_name:
                  type: string
                organization:
                  type: string
                purpose:
                  type: string
                  enum:
                  - compliance
                  - trading
                  - audit
                  - risk_management
                  - general
                frameworks:
                  type: array
                  items:
                    type: string
      responses:
        '201':
          description: Agent registered with API key
      operationId: postAiAgentRegister
      x-operation-id-source: derived
  /ai/agent/{agent_id}/rotate-key:
    post:
      summary: Rotate Agent API Key
      description: Rotate agent API key. Old key invalidated immediately. +5 reputation bonus. New 90-day lifecycle.
      tags:
      - Agent Trust Management
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - current_api_key
              properties:
                current_api_key:
                  type: string
      responses:
        '200':
          description: New API key with reputation update
      operationId: postAiAgentByAgentIdRotateKey
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
