openapi: 3.2.0
info:
  title: Tooloracle Io Audit Trail API
  version: 8.4.1+truthrepair.r1
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
  description: 'Operations tagged Audit Trail across 2 of this provider''s published API definitions: tooloracle-io-feedoracle-openapi.json, tooloracle-io-feedoracle-compliance-evidence-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: Audit Trail
paths:
  /mcp/audit/log:
    post:
      summary: Log a compliance decision to tamper-proof audit trail
      description: Creates chain-linked audit entry with evidence snapshots. Returns trail_id and chain_hash.
      tags:
      - Audit Trail
      operationId: audit_log
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                decision:
                  type: string
                  enum:
                  - PASS
                  - BLOCK
                  - WARN
                  - HOLD
                evidence_request_ids:
                  type: array
                  items:
                    type: string
                reasoning:
                  type: string
                target_asset:
                  type: string
                jurisdiction:
                  type: string
                  default: EU
              required:
              - decision
              - evidence_request_ids
              - reasoning
      responses:
        '200':
          description: Audit entry with trail_id and chain_hash
    servers:
    - url: https://api.feedoracle.io
      description: Production
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-refined-from:
- tooloracle-io-feedoracle-openapi.json
- tooloracle-io-feedoracle-compliance-evidence-openapi.yml
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
