openapi: 3.2.0
info:
  title: Tooloracle Io RWA API
  version: 8.4.1+truthrepair.r1
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
  description: 'Operations tagged RWA across 2 of this provider''s published API definitions: tooloracle-io-feedoracle-openapi.json, tooloracle-io-feedoracle-compliance-evidence-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: RWA
  description: Real World Assets (Key required)
paths:
  /api/v1/rwa/assets:
    get:
      tags:
      - RWA
      operationId: getRwaAssets
      summary: All RWA assets
      description: Tokenized real world assets
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Asset list
        '401':
          description: Unauthorized
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/rwa/assets/{asset_id}:
    get:
      tags:
      - RWA
      operationId: getRwaAsset
      summary: Single RWA asset details
      security:
      - ApiKeyAuth: []
      parameters:
      - name: asset_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Asset details
        '401':
          description: Unauthorized
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/rwa/treasuries:
    get:
      tags:
      - RWA
      operationId: getRwaTreasuries
      summary: Tokenized treasuries (T-Bills)
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Treasury tokens
        '401':
          description: Unauthorized
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/rwa/treasury-trust:
    get:
      tags:
      - RWA
      operationId: getRwaTreasuryTrust
      summary: Treasury trust scores
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Trust data
        '401':
          description: Unauthorized
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/rwa/redemptions:
    get:
      tags:
      - RWA
      operationId: getRwaRedemptions
      summary: RWA redemption data
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Redemption history
        '401':
          description: Unauthorized
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/rwa/redemption-stress:
    get:
      tags:
      - RWA
      operationId: getRwaRedemptionStress
      summary: Redemption stress test results
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Stress test data
        '401':
          description: Unauthorized
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/rwa/classify:
    get:
      tags:
      - RWA
      operationId: getRwaClassify
      summary: RWA classification
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Classification
        '401':
          description: Unauthorized
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/rwa/status:
    get:
      tags:
      - RWA
      operationId: getRwaStatus
      summary: RWA system status
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: System status
        '401':
          description: Unauthorized
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/rwa/grant-info:
    get:
      tags:
      - RWA
      operationId: getRwaGrantInfo
      summary: RWA grant information
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Grant info
        '401':
          description: Unauthorized
    servers:
    - url: https://api.feedoracle.io
      description: Production
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-refined-from:
- tooloracle-io-feedoracle-openapi.json
- tooloracle-io-feedoracle-compliance-evidence-openapi.yml
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
