openapi: 3.2.0
info:
  title: Tooloracle Io Flight Oracle API
  version: 4.2.0
  x-canonical-source: https://tooloracle.io/assets/catalog.json
  x-changelog:
  - version: 4.2.0
    date: '2026-04-28'
    changes:
    - Canonicalized counts from /assets/catalog.json
    - Aligned root /openapi.json with /.well-known/openapi.json
    - Added x-counts and x-canonical-source extensions
  - version: 4.1.0
    date: '2026-04-19'
    changes:
    - Added Mesh Economics v1 API paths (/economics/api/*)
    - Added Mesh Nervous System discovery paths (/.well-known/agent-pulse, /.well-known/meta-tools)
    - Added /.well-known/mesh-economics discovery endpoint
  x-counts:
    servers_online: 89
    tools_available: 1096
    categories: 7
    chains_supported: 13
    paid_products: 18
  x-generated-at: '2026-09-20T02:13:01+00:00'
  x-hedera-mainnet:
    contract: 0.0.10420310
    beacon_topic: 0.0.10420280
    join_topic: 0.0.10420282
  description: 'Operations tagged FlightOracle across 2 of this provider''s published API definitions: tooloracle-io-openapi.json, tooloracle-io-mcp-platform-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://tooloracle.io
tags:
- name: FlightOracle
  description: Flight search (8 tools)
paths:
  /flight/mcp/:
    post:
      tags:
      - FlightOracle
      summary: FlightOracle MCP (8 tools)
      description: Flight search
      operationId: flightMcp
      responses:
        '200':
          description: MCP JSON-RPC response
    servers:
    - url: https://tooloracle.io
externalDocs:
  description: x402 v2 buyer quickstart (pay one /v2 route and verify the signed NOMOS execution receipt)
  url: https://tooloracle.io/docs/x402-buyer-quickstart/
x-refined-from:
- tooloracle-io-openapi.json
- tooloracle-io-mcp-platform-openapi.yml
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
