openapi: 3.2.0
info:
  title: Tooloracle Io Reports API
  version: 8.4.1+truthrepair.r1
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
  description: 'Operations tagged Reports across 2 of this provider''s published API definitions: tooloracle-io-feedoracle-openapi.json, tooloracle-io-feedoracle-compliance-evidence-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: Reports
  description: PDF reports (Pro+ tier)
paths:
  /api/v2/reports/mica-art66:
    get:
      tags:
      - Reports
      operationId: getReportMica
      summary: MiCA Article 66 PDF report
      description: EU MiCA sustainability disclosure PDF
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: PDF report
        '401':
          description: Pro+ tier required
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v2/reports/csrd-esrs:
    get:
      tags:
      - Reports
      operationId: getReportCsrd
      summary: CSRD/ESRS PDF report
      description: EU CSRD sustainability reporting PDF
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: PDF report
        '401':
          description: Pro+ tier required
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v2/reports/dora-operational:
    get:
      tags:
      - Reports
      operationId: getReportDora
      summary: DORA Operational PDF report
      description: EU DORA operational resilience PDF
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: PDF report
        '401':
          description: Pro+ tier required
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/reports/catalog:
    get:
      tags:
      - Reports
      operationId: getReportsCatalog
      summary: Available reports catalog
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Report list
        '401':
          description: Unauthorized
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/reports/disclosure:
    get:
      tags:
      - Reports
      operationId: getReportsDisclosure
      summary: Disclosure report
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Report
        '401':
          description: Unauthorized
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/reports/disclosure.json:
    get:
      tags:
      - Reports
      operationId: getReportsDisclosureJson
      summary: Disclosure report (JSON)
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: JSON report
        '401':
          description: Unauthorized
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/reports/audit-export:
    get:
      tags:
      - Reports
      operationId: getReportsAuditExport
      summary: Audit export
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Export data
        '401':
          description: Unauthorized
    servers:
    - url: https://api.feedoracle.io
      description: Production
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-refined-from:
- tooloracle-io-feedoracle-openapi.json
- tooloracle-io-feedoracle-compliance-evidence-openapi.yml
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
