openapi: 3.2.0
info:
  title: FeedOracle Compliance Evidence Unified Integrity API
  version: 8.4.1+truthrepair.r1
  description: 'FeedOracle Compliance Evidence Infrastructure — 44 MCP servers, 590+ evidence tools across 17 data sources. DORA, MiCA, AMLR and CSRD compliance evidence APIs. ES256K-signed responses, blockchain-anchored. Canonical metrics: https://feedoracle.io/data/feedoracle-metrics.json.'
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: Unified Integrity
paths:
  /api/v1/integrity/rlusd:
    get:
      tags:
      - Unified Integrity
      summary: RLUSD Integrity Check
      parameters:
      - name: signed
        in: query
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Integrity report with confidence score
      operationId: getApiV1IntegrityRlusd
      x-operation-id-source: derived
  /api/v1/integrity/rlusd/baselines:
    get:
      tags:
      - Unified Integrity
      summary: RLUSD Baselines (peg, reserve, CCI)
      responses:
        '200':
          description: Fixed target baselines
      operationId: getApiV1IntegrityRlusdBaselines
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
