openapi: 3.2.0
info:
  title: Tooloracle Io Business API
  version: 8.4.1+truthrepair.r1
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
  description: 'Operations tagged Business across 2 of this provider''s published API definitions: tooloracle-io-feedoracle-openapi.json, tooloracle-io-feedoracle-compliance-evidence-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: Business
paths:
  /api/v1/macro/business:
    get:
      tags:
      - Business
      operationId: getBusiness
      summary: Business overview
      description: Production, utilization, credit, delinquency
      responses:
        '200':
          description: JSON with oracle_ready flag
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/macro/business/production:
    get:
      tags:
      - Business
      operationId: getProduction
      summary: Industrial production
      description: Industrial production index, capacity utilization
      responses:
        '200':
          description: JSON with oracle_ready flag
    servers:
    - url: https://api.feedoracle.io
      description: Production
  /api/v1/macro/business/credit:
    get:
      tags:
      - Business
      operationId: getBizCredit
      summary: Business credit
      description: Commercial loans, consumer credit, delinquency
      responses:
        '200':
          description: JSON with oracle_ready flag
    servers:
    - url: https://api.feedoracle.io
      description: Production
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-refined-from:
- tooloracle-io-feedoracle-openapi.json
- tooloracle-io-feedoracle-compliance-evidence-openapi.yml
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
