openapi: 3.2.0
info:
  title: FeedOracle Compliance Evidence Agent Guard API
  version: 8.4.1+truthrepair.r1
  description: 'FeedOracle Compliance Evidence Infrastructure — 44 MCP servers, 590+ evidence tools across 17 data sources. DORA, MiCA, AMLR and CSRD compliance evidence APIs. ES256K-signed responses, blockchain-anchored. Canonical metrics: https://feedoracle.io/data/feedoracle-metrics.json.'
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: AgentGuard
  description: 'Runtime agent security & governance. 20 tools across 4 layers: pre-execution, payload security, governance, post-execution. Agent state machine with automatic escalation.'
paths:
  /guard/mcp:
    post:
      tags:
      - AgentGuard
      summary: AgentGuard MCP Server (20 tools)
      description: 'JSON-RPC 2.0 MCP endpoint. Methods: initialize, tools/list, tools/call. Tools include policy_preflight, tool_risk_score, output_safety_scan, emergency_kill, tool_manifest_verify, and 15 more. Bearer token required for non-public tools.'
      operationId: agentguardMcp
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  example: '2.0'
                id:
                  type: integer
                  example: 1
                method:
                  type: string
                  enum:
                  - initialize
                  - tools/list
                  - tools/call
                params:
                  type: object
      responses:
        '200':
          description: MCP JSON-RPC response
        '401':
          description: Bearer token required
      security:
      - bearerAuth: []
  /guard-oracle/mcp/:
    post:
      tags:
      - AgentGuard
      summary: AgentGuard MCP endpoint (20 security tools)
      description: 'Runtime security for AI agent workflows. Policy preflight, output safety scan, audit logging, emergency kill, rate limiting, scope checking. Agent states: active/monitoring/approval_required/suspended/killed.'
      operationId: agentGuardMcp
      responses:
        '200':
          description: MCP JSON-RPC response
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
