openapi: 3.2.0
info:
  title: FeedOracle Compliance Evidence RWA Compliance API
  version: 8.4.1+truthrepair.r1
  description: 'FeedOracle Compliance Evidence Infrastructure — 44 MCP servers, 590+ evidence tools across 17 data sources. DORA, MiCA, AMLR and CSRD compliance evidence APIs. ES256K-signed responses, blockchain-anchored. Canonical metrics: https://feedoracle.io/data/feedoracle-metrics.json.'
  contact:
    email: support@feedoracle.io
    url: https://feedoracle.io/contact.html
  license:
    name: Proprietary
  termsOfService: https://feedoracle.io/terms.html
servers:
- url: https://api.feedoracle.io
  description: Production
security: []
tags:
- name: RWA Compliance
  description: Jurisdiction access, sanctions screening, MiCA/DORA/GENIUS status
paths:
  /v1/rwa/compliance:
    get:
      tags:
      - RWA Compliance
      summary: All protocols - compliance overview
      description: MiCA, DORA, sanctions screening, jurisdiction access for all protocols.
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Compliance data
      operationId: getV1RwaCompliance
      x-operation-id-source: derived
  /v1/rwa/compliance/{slug}:
    get:
      tags:
      - RWA Compliance
      summary: Single protocol - compliance profile
      description: Jurisdiction access, sanctions screening, investor requirements, KYC level.
      security:
      - ApiKeyAuth: []
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
        description: Protocol slug
      responses:
        '200':
          description: Compliance profile
        '404':
          description: Protocol not found
      operationId: getV1RwaComplianceBySlug
      x-operation-id-source: derived
  /v1/rwa/compliance/jurisdiction/{code}:
    get:
      tags:
      - RWA Compliance
      summary: Filter by jurisdiction
      security:
      - ApiKeyAuth: []
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
        description: ISO jurisdiction code (US, EU, SG)
      responses:
        '200':
          description: Protocols in jurisdiction
      operationId: getV1RwaComplianceJurisdictionByCode
      x-operation-id-source: derived
  /v1/rwa/compliance/check:
    get:
      tags:
      - RWA Compliance
      summary: Cross-border compliance check
      security:
      - ApiKeyAuth: []
      parameters:
      - name: slug
        in: query
        required: true
        schema:
          type: string
      - name: from
        in: query
        schema:
          type: string
        description: Source jurisdiction
      - name: to
        in: query
        schema:
          type: string
        description: Target jurisdiction
      responses:
        '200':
          description: Compliance check result
      operationId: getV1RwaComplianceCheck
      x-operation-id-source: derived
  /v1/rwa/compliance/stats:
    get:
      tags:
      - RWA Compliance
      summary: Compliance statistics
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Aggregate compliance stats
      operationId: getV1RwaComplianceStats
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Required for v1 data endpoints. Get at /pricing.html
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token from POST /mcp/token
    bearerAuth:
      type: http
      scheme: bearer
      description: FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591).
x-nomos-trust-chain:
  model: S0-S10
  manifest: https://agentnomos.com/.well-known/nomos-capabilities.json
