{
  "openapi": "3.1.0",
  "info": {
    "title": "FeedOracle Compliance Evidence API",
    "version": "8.4.1+truthrepair.r1",
    "description": "FeedOracle Compliance Evidence Infrastructure — 44 MCP servers, 590+ evidence tools across 17 data sources. DORA, MiCA, AMLR and CSRD compliance evidence APIs. ES256K-signed responses, blockchain-anchored. Canonical metrics: https://feedoracle.io/data/feedoracle-metrics.json.",
    "contact": {
      "email": "support@feedoracle.io",
      "url": "https://feedoracle.io/contact.html"
    },
    "license": {
      "name": "Proprietary"
    },
    "termsOfService": "https://feedoracle.io/terms.html"
  },
  "servers": [
    {
      "url": "https://api.feedoracle.io",
      "description": "Production"
    }
  ],
  "security": [],
  "tags": [
    {
      "name": "Verified Reports",
      "description": "Generate, download, and verify cryptographically signed PDF evidence reports. Each report is hashed (SHA-256), signed (ECDSA secp256k1), and anchored on XRPL blockchain."
    },
    {
      "name": "Health",
      "description": "System health endpoints (Public)"
    },
    {
      "name": "Disclosure",
      "description": "v3 Sustainability disclosure (Public)"
    },
    {
      "name": "L2",
      "description": "Layer 2 fee oracle (Public)"
    },
    {
      "name": "Attestation",
      "description": "DAP attestation (Public)"
    },
    {
      "name": "MOAT"
    },
    {
      "name": "RLUSD",
      "description": "RLUSD stablecoin transparency (Public)"
    },
    {
      "name": "Legacy",
      "description": "Merkle Oracle verification (Public)"
    },
    {
      "name": "Carbon",
      "description": "Carbon data (Key required)"
    },
    {
      "name": "Macro",
      "description": "Macro economic (Key required)"
    },
    {
      "name": "Trading",
      "description": "Trading signals (Key required)"
    },
    {
      "name": "XRP",
      "description": "XRP/RLUSD feeds (Key required)"
    },
    {
      "name": "RWA",
      "description": "Real World Assets (Key required)"
    },
    {
      "name": "Agents",
      "description": "AI Agent feeds (Key required)"
    },
    {
      "name": "Knowledge",
      "description": "Knowledge base (Key required)"
    },
    {
      "name": "SupplyChain",
      "description": "Supply chain tracking (Key required)"
    },
    {
      "name": "Reports",
      "description": "PDF reports (Pro+ tier)"
    },
    {
      "name": "GeoIP",
      "description": "Geo location (Key required)"
    },
    {
      "name": "Payment",
      "description": "Billing (Internal)"
    },
    {
      "name": "Integrity Suite",
      "description": "Cross-source validation, baselines, and verifiable credentials"
    },
    {
      "name": "RWA Risk Scoring",
      "description": "Multi-vector risk scores with letter grades (A-F) for 60+ tokenized asset protocols"
    },
    {
      "name": "RWA Registry",
      "description": "Token metadata, issuer details, underlying asset classification (LEI, ISIN)"
    },
    {
      "name": "RWA Compliance",
      "description": "Jurisdiction access, sanctions screening, MiCA/DORA/GENIUS status"
    },
    {
      "name": "RWA Legal State",
      "description": "Contract powers, transfer finality, dispute resolution"
    },
    {
      "name": "RWA Oracle Feeds",
      "description": "Multi-source consensus price feeds with disagreement detection"
    },
    {
      "name": "RWA Liquidity",
      "description": "On-chain DEX liquidity depth and volume analysis"
    },
    {
      "name": "RWA On-Chain",
      "description": "Smart contract transparency and activity verification"
    },
    {
      "name": "RWA ESG",
      "description": "Chain-weighted carbon footprint scoring"
    },
    {
      "name": "RWA Events",
      "description": "Risk events, governance changes, anomaly alerts"
    },
    {
      "name": "RWA History",
      "description": "Historical score tracking and trend analysis"
    },
    {
      "name": "RWA Alerts",
      "description": "Webhook subscriptions for real-time notifications"
    },
    {
      "name": "RWA Redemption",
      "description": "Time-to-Cash / institutional liquidity profiles (settlement, gates, fees)"
    },
    {
      "name": "RWA Documents",
      "description": "Compliance document registry with source URLs and integrity hashes"
    },
    {
      "name": "MiCA Compliance",
      "description": "MiCA regulatory compliance evidence (Art. 22-58) for stablecoins and token issuers"
    },
    {
      "name": "Stablecoin",
      "description": "Stablecoin analytics covering 105+ coins — peg health, reserves, MiCA classification"
    },
    {
      "name": "Macro Oracle",
      "description": "US macro-economic data from FRED — health index, inflation, GDP, fed rates, yield curve"
    },
    {
      "name": "RWA Risk",
      "description": "RWA protocol risk intelligence across 9 dimensions for 60+ protocols"
    },
    {
      "name": "Evidence",
      "description": "Cryptographically signed evidence infrastructure"
    },
    {
      "name": "DORA",
      "description": "DORA ICT risk and resilience compliance data"
    },
    {
      "name": "CSRD",
      "description": "CSRD/ESG sustainability reporting data"
    },
    {
      "name": "ESMA",
      "description": "ESMA CASP register and regulatory status data"
    },
    {
      "name": "AI Gateway"
    },
    {
      "name": "Enterprise Trust Layer"
    },
    {
      "name": "Agent Trust Management"
    },
    {
      "name": "MCP Auth"
    },
    {
      "name": "MCP Transport"
    },
    {
      "name": "USDC Payment"
    },
    {
      "name": "Billing"
    },
    {
      "name": "Signature Verification"
    },
    {
      "name": "Discovery"
    },
    {
      "name": "Verification"
    },
    {
      "name": "KYA - Know Your Agent"
    },
    {
      "name": "Audit Trail"
    },
    {
      "name": "Market Risk"
    },
    {
      "name": "Trust"
    },
    {
      "name": "Wallet",
      "description": "Unit-based billing — check balance, view packages, purchase units via Stripe"
    },
    {
      "name": "AgentGuard",
      "description": "Runtime agent security & governance. 20 tools across 4 layers: pre-execution, payload security, governance, post-execution. Agent state machine with automatic escalation."
    },
    {
      "name": "DORA Ampel",
      "description": "DORA traffic-light compliance system — 49 tools, 26 articles, 39 checks, 67 controls, 6 entities. Closed-loop: Control→Finding→Owner→ReTest→Close. Escalation, What-if, Board-View, Dependency Graph, Evidence Packs."
    },
    {
      "name": "MiCA Ampel",
      "description": "MiCA stablecoin compliance monitoring — 24 tools, 17 tokens, 13 issuers"
    },
    {
      "name": "AML Oracle",
      "description": "Anti-money laundering and sanctions screening — 12 tools, 87k+ watchlist entries"
    },
    {
      "name": "ResearchOracle",
      "description": "Scientific research intelligence — 200M+ papers, compliance topics"
    },
    {
      "name": "EULawOracle",
      "description": "EU financial regulation intelligence — 12 regulations, article lookup, cross-references, deadlines"
    },
    {
      "name": "RegWatchOracle",
      "description": "Regulatory watch — US Federal Register + EU regulatory feeds"
    },
    {
      "name": "ESMAOracle",
      "description": "Official ESMA MiCA register — CASPs, non-compliant entities, white papers"
    },
    {
      "name": "MacroOracle",
      "description": "Macro economic intelligence — ECB + FRED + BLS + World Bank"
    },
    {
      "name": "LawOracle",
      "description": "Multi-jurisdiction legal intelligence MCP server. 20 tools, 9 data sources, 4 jurisdictions (US, EU, UK, DE). Obligation mapping, article extraction, DORA OS bridge. Endpoint: https://tooloracle.io/law/mcp"
    },
    {
      "name": "TestOracle",
      "description": "DORA Art. 24-27 resilience testing MCP server. 16 tools, 12 scenarios, TLPT tracking, AmpelOracle sync."
    },
    {
      "name": "ReportingOracle",
      "description": "DORA NCA reporting MCP server. 14 tools, incident reports, RoI export, TLPT results, annual reports."
    },
    {
      "name": "CloudOracle",
      "description": "DORA cloud monitoring: live AWS/GCP/Azure status, concentration risk, CTPP check."
    },
    {
      "name": "TrainingOracle",
      "description": "DORA ICT security awareness and training. 13 tools, 7 programmes, phishing simulation."
    },
    {
      "name": "PolicyOracle",
      "description": "DORA ICT policy lifecycle. 12 tools, 12 RTS-required policies, gap check, version control."
    },
    {
      "name": "DORA OS Conductor",
      "description": "Multi-agent orchestrator. 16 tools coordinating all 16 DORA OS oracles. Workflows, event reactions, board briefings, remediation planning."
    },
    {
      "name": "DriftOracle",
      "description": "Self-healing compliance drift detection. Regulatory changes, evidence staleness, cloud drift, auto-remediation."
    },
    {
      "name": "EventFabric",
      "description": "Real-time event processing. Webhook receiver, 12 routing rules, auto-dispatch to Conductor."
    },
    {
      "name": "PredictOracle",
      "description": "Predictive risk engine. Score trajectories, evidence decay, early warnings, what-if scenarios."
    },
    {
      "name": "ZKEvidenceOracle",
      "description": "Zero-knowledge evidence layer. Privacy-preserving proofs, merkle trees, verifiable credentials, selective disclosure."
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Required for v1 data endpoints. Get at /pricing.html"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "OAuth 2.0 Bearer token from POST /mcp/token"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "FeedOracle OAuth 2.1 Bearer token. Obtain via /mcp/register (Dynamic Client Registration, RFC 7591)."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "MetaEnvelope": {
        "type": "object",
        "properties": {
          "api_version": {
            "type": "string"
          },
          "dataset_version": {
            "type": "string"
          },
          "schema_version": {
            "type": "string"
          }
        }
      },
      "RlusdStatusEnvelope": {
        "type": "object",
        "properties": {
          "service": {
            "type": "string"
          },
          "meta": {
            "$ref": "#/components/schemas/MetaEnvelope"
          },
          "data": {
            "type": "object"
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "RlusdCciCompact": {
        "type": "object",
        "properties": {
          "cci_score": {
            "type": "number"
          },
          "grade": {
            "type": "string"
          },
          "components": {
            "type": "object"
          },
          "penalty_log": {
            "type": "object"
          },
          "timestamp": {
            "type": "string"
          }
        }
      },
      "RlusdCciDetailed": {
        "type": "object",
        "properties": {
          "cci_score": {
            "type": "number"
          },
          "grade": {
            "type": "string"
          },
          "subscores": {
            "type": "object"
          },
          "weights": {
            "type": "object"
          },
          "timestamp": {
            "type": "string"
          }
        }
      },
      "RlusdEvidencePack": {
        "type": "object",
        "properties": {
          "as_of": {
            "type": "string"
          },
          "guard": {
            "type": "object"
          },
          "circuit_breaker": {
            "type": "object"
          },
          "integrity_proof": {
            "type": "object"
          },
          "disclaimer": {
            "type": "object"
          }
        }
      },
      "RlusdHoldersResponse": {
        "type": "object",
        "properties": {
          "chains": {
            "type": "object"
          },
          "total_holders": {
            "type": "integer"
          },
          "timestamp": {
            "type": "string"
          }
        }
      },
      "LegacyCircuitStatus": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "action": {
            "type": "string"
          },
          "checks": {
            "type": "object"
          },
          "timestamp": {
            "type": "string"
          }
        }
      },
      "LegacyHealth": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "service": {
            "type": "string"
          }
        }
      },
      "LegacyZkStatus": {
        "type": "object",
        "properties": {
          "circuit": {
            "type": "string"
          },
          "runtime_version": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "LegacyZkAttestationLatest": {
        "type": "object",
        "properties": {
          "tx_hash": {
            "type": "string"
          },
          "contract": {
            "type": "string"
          },
          "chain_id": {
            "type": "integer"
          },
          "min_ratio_bps": {
            "type": "integer"
          },
          "threshold_passed": {
            "type": "boolean"
          }
        }
      },
      "RlusdSupplyBreakdown": {
        "type": "object",
        "properties": {
          "service": {
            "type": "string"
          },
          "data": {
            "type": "object"
          }
        }
      },
      "RlusdPegQuality": {
        "type": "object",
        "properties": {
          "service": {
            "type": "string"
          },
          "data": {
            "type": "object"
          }
        }
      },
      "RlusdWebhookCatalog": {
        "type": "object",
        "properties": {
          "events": {
            "type": "array"
          },
          "catalog": {
            "type": "object"
          }
        }
      },
      "RlusdVerifyResponse": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean"
          }
        }
      },
      "RWAEvidence": {
        "type": "object",
        "description": "Response evidence envelope, contract v1.2. payload_hash is genuine and recomputable without any key. The legacy ES256K body signature is NOT produced and is NOT verifiable - it is reported with an explicit status instead of being advertised. Canonical execution and response-hash evidence is the Ed25519 execution receipt referenced by the x-nomos-receipt-url response header.",
        "properties": {
          "manifest_id": {
            "type": "string",
            "example": "RWA-94607EEB"
          },
          "payload_hash": {
            "type": "object",
            "description": "sha256 over this response with the 'evidence' member removed, JSON encoded with sorted keys and compact separators. Needs no key and no external service.",
            "properties": {
              "alg": {
                "type": "string",
                "example": "SHA-256"
              },
              "hex": {
                "type": "string"
              }
            }
          },
          "signature": {
            "type": "object",
            "description": "Legacy ES256K body signature. Currently never produced; treat as absent, never as verified.",
            "properties": {
              "alg": {
                "type": "string",
                "example": "ES256K"
              },
              "hex": {
                "type": "string",
                "example": "",
                "description": "Empty while status is UNAVAILABLE."
              },
              "kid": {
                "type": [
                  "string",
                  "null"
                ],
                "example": null,
                "description": "null while no signature exists - a key id names the key that signed, and with no signature it names nothing."
              },
              "status": {
                "type": "string",
                "enum": [
                  "UNAVAILABLE",
                  "UNVERIFIABLE_NO_PUBLISHED_JWKS",
                  "ACTIVE"
                ],
                "example": "UNAVAILABLE"
              }
            }
          },
          "verification": {
            "type": "object",
            "description": "Verification surface for the legacy ES256K signature above.",
            "properties": {
              "jwks_url": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "uri",
                "example": null,
                "description": "null. The URL formerly advertised here returned 404 and no reachable JWKS publishes the legacy kid."
              },
              "verifier_kit": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "uri",
                "example": null,
                "description": "null. The URL formerly advertised here answered 200 with valid:false - an alive-looking surface that verifies nothing."
              },
              "status": {
                "type": "string",
                "enum": [
                  "OUT_OF_CONTRACT",
                  "ACTIVE"
                ],
                "example": "OUT_OF_CONTRACT"
              },
              "reason": {
                "type": "string"
              },
              "self_check": {
                "type": "string",
                "description": "How to recompute payload_hash yourself."
              },
              "canonical_execution_evidence": {
                "type": "object",
                "description": "Pointer to the evidence that IS verifiable. Ed25519/EdDSA - a different algorithm and a different key than the ES256K field above, and not a replacement JWKS for it.",
                "properties": {
                  "note": {
                    "type": "string"
                  },
                  "receipt_url_header": {
                    "type": "string",
                    "example": "x-nomos-receipt-url"
                  },
                  "receipt_signature_alg": {
                    "type": "string",
                    "example": "EdDSA"
                  },
                  "receipt_jwks_url": {
                    "type": "string",
                    "format": "uri",
                    "example": "https://feedoracle.io/.well-known/nomos-execution-jwks.json"
                  }
                }
              }
            }
          },
          "signature_scope": {
            "type": "object",
            "properties": {
              "signed": {
                "type": "string",
                "example": "payload_hash.hex"
              },
              "payload_excludes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "canonicalization": {
                "type": "string",
                "example": "JSON_canonical_sorted"
              }
            }
          },
          "evidence_contract": {
            "type": "string",
            "example": "nomos.rwa.evidence.v1.2"
          }
        }
      },
      "RWARiskVectors": {
        "type": "object",
        "description": "9-dimensional risk breakdown (0-100 each)",
        "properties": {
          "tvl_weight": {
            "type": "integer"
          },
          "yield_spread": {
            "type": "integer"
          },
          "diversification": {
            "type": "integer"
          },
          "maturity": {
            "type": "integer"
          },
          "regulatory": {
            "type": "integer"
          },
          "institutional": {
            "type": "integer"
          },
          "dex_liquidity": {
            "type": "integer"
          },
          "onchain_transparency": {
            "type": "integer"
          },
          "esg_carbon": {
            "type": "integer"
          }
        }
      },
      "RWAReasonCode": {
        "type": "object",
        "properties": {
          "vector": {
            "type": "string",
            "example": "tvl_weight"
          },
          "impact": {
            "type": "string",
            "enum": [
              "positive",
              "negative"
            ]
          },
          "text": {
            "type": "string",
            "example": "Strong TVL indicates institutional confidence"
          }
        }
      },
      "RWAStablecoinDetail": {
        "type": "object",
        "description": "Enhanced fields for regulated_stablecoin assets",
        "properties": {
          "issuer": {
            "type": "string",
            "example": "Ripple"
          },
          "custodian": {
            "type": "string"
          },
          "auditor": {
            "type": "string",
            "example": "BPM LLP (CPA-attested)"
          },
          "peg": {
            "type": "object",
            "properties": {
              "target": {
                "type": "number",
                "example": 1.0
              },
              "current": {
                "type": "number"
              },
              "deviation": {
                "type": "number"
              }
            }
          },
          "reserves": {
            "type": "object",
            "properties": {
              "ratio": {
                "type": "number",
                "example": 1.042
              },
              "value_usd": {
                "type": "number"
              },
              "outstanding": {
                "type": "number"
              },
              "report_month": {
                "type": "string"
              }
            }
          },
          "compliance": {
            "type": "object",
            "properties": {
              "mica": {
                "type": "string"
              },
              "genius": {
                "type": "string"
              }
            }
          },
          "anchoring": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer",
                "example": 1888
              },
              "polygon": {
                "type": "integer"
              },
              "xrpl": {
                "type": "integer"
              }
            }
          },
          "supply": {
            "type": "object",
            "properties": {
              "total": {
                "type": "number"
              },
              "chains": {
                "type": "object"
              },
              "change_24h": {
                "type": "number"
              }
            }
          }
        }
      },
      "RWAXrplDetail": {
        "type": "object",
        "description": "Enhanced fields for XRPL native assets",
        "properties": {
          "network": {
            "type": "object",
            "properties": {
              "ledger_index": {
                "type": "integer"
              },
              "server_state": {
                "type": "string"
              },
              "peers": {
                "type": "integer"
              }
            }
          },
          "xrp_market": {
            "type": "object",
            "properties": {
              "price_usd": {
                "type": "number"
              },
              "change_24h": {
                "type": "number"
              },
              "volume_24h": {
                "type": "number"
              }
            }
          },
          "whale_flows": {
            "type": "object",
            "properties": {
              "sentiment": {
                "type": "string",
                "enum": [
                  "bullish",
                  "bearish",
                  "neutral"
                ]
              },
              "net_flow_24h_xrp": {
                "type": "number"
              }
            }
          },
          "rwa_ecosystem": {
            "type": "object",
            "properties": {
              "custody_aum": {
                "type": "number"
              },
              "rlusd_supply": {
                "type": "number"
              },
              "tokenized_assets": {
                "type": "number"
              }
            }
          }
        }
      },
      "RWAProtocolRisk": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string",
            "example": "rlusd"
          },
          "protocol": {
            "type": "string",
            "example": "Ripple RLUSD"
          },
          "type": {
            "type": "string",
            "enum": [
              "regulated_stablecoin",
              "treasury",
              "commodity",
              "credit",
              "synthetic",
              "real_estate",
              "equities",
              "insurance",
              "xrpl_infrastructure",
              "xrpl_custody",
              "xrpl_tokenization"
            ]
          },
          "risk_score": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "example": 89
          },
          "risk_grade": {
            "type": "string",
            "enum": [
              "A",
              "B",
              "C",
              "D",
              "F"
            ]
          },
          "tvl_usd": {
            "type": "number"
          },
          "risk_vectors": {
            "$ref": "#/components/schemas/RWARiskVectors"
          },
          "reason_codes": {
            "type": "object",
            "properties": {
              "codes": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RWAReasonCode"
                }
              },
              "summary": {
                "type": "string"
              }
            }
          },
          "chains": {
            "type": "object"
          },
          "stablecoin_detail": {
            "$ref": "#/components/schemas/RWAStablecoinDetail"
          },
          "xrpl_detail": {
            "$ref": "#/components/schemas/RWAXrplDetail"
          }
        }
      },
      "RWAWebhookEvent": {
        "type": "object",
        "description": "Payload sent to webhook endpoint",
        "properties": {
          "event": {
            "type": "string",
            "enum": [
              "grade_change",
              "score_threshold",
              "anomaly_detected",
              "peg_deviation",
              "tvl_drop"
            ]
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "protocol": {
            "type": "object",
            "properties": {
              "slug": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "previous": {
            "type": "object",
            "properties": {
              "score": {
                "type": "integer"
              },
              "grade": {
                "type": "string"
              }
            }
          },
          "current": {
            "type": "object",
            "properties": {
              "score": {
                "type": "integer"
              },
              "grade": {
                "type": "string"
              }
            }
          },
          "reason_codes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RWAReasonCode"
            }
          },
          "evidence": {
            "type": "object",
            "properties": {
              "signature": {
                "type": "string"
              },
              "manifest_id": {
                "type": "string"
              }
            }
          }
        }
      },
      "RWARedemptionProfile": {
        "type": "object",
        "description": "Institutional liquidity profile - how fast can you exit to cash?",
        "properties": {
          "primary_exit": {
            "type": "string",
            "enum": [
              "ISSUER_DIRECT",
              "DEX_ONLY",
              "HYBRID",
              "OTC",
              "NONE"
            ],
            "description": "Primary redemption channel"
          },
          "settlement_time": {
            "type": "string",
            "enum": [
              "T+0",
              "T+1",
              "T+2_BUSINESS_DAYS",
              "T+3_BUSINESS_DAYS",
              "VARIABLE",
              "LOCK_PERIOD"
            ],
            "example": "T+0"
          },
          "settlement_days_max": {
            "type": "integer",
            "description": "Maximum calendar days to settlement"
          },
          "redemption_frequency": {
            "type": "string",
            "enum": [
              "ON_DEMAND",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "AT_MATURITY"
            ]
          },
          "notice_period_days": {
            "type": "integer"
          },
          "minimum_redemption_usd": {
            "type": "number",
            "nullable": true,
            "example": 100000
          },
          "maximum_daily_redemption_usd": {
            "type": "number",
            "nullable": true
          },
          "fees": {
            "type": "object",
            "nullable": true,
            "properties": {
              "type": {
                "type": "string",
                "example": "bps"
              },
              "value": {
                "type": "number",
                "example": 0
              }
            }
          },
          "gates": {
            "type": "object",
            "properties": {
              "withdrawal_gate": {
                "type": "boolean",
                "description": "Can issuer halt redemptions?"
              },
              "suspension_rights": {
                "type": "boolean"
              },
              "conditions": {
                "type": "string",
                "nullable": true,
                "description": "Under what conditions gates activate"
              }
            }
          },
          "kyc_required": {
            "type": "boolean"
          },
          "redemption_currency": {
            "type": "string",
            "example": "USD"
          },
          "nav_frequency": {
            "type": "string",
            "enum": [
              "REAL_TIME",
              "DAILY",
              "WEEKLY",
              "MONTHLY"
            ]
          },
          "liquidity_latency_score": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "description": "Composite score (0-100): higher = faster exit to cash"
          },
          "confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Data confidence level"
          },
          "source": {
            "type": "string"
          },
          "last_verified": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "RWADocument": {
        "type": "object",
        "description": "Compliance/audit document reference with integrity hash",
        "properties": {
          "category": {
            "type": "string",
            "enum": [
              "attestation",
              "audit",
              "prospectus",
              "legal",
              "whitepaper",
              "factsheet",
              "regulatory"
            ]
          },
          "title": {
            "type": "string",
            "example": "Monthly Attestation Report"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Source URL (issuer/regulator/auditor hosted)"
          },
          "issuer": {
            "type": "string",
            "description": "Document publisher"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "hash_sha256": {
            "type": "string",
            "nullable": true,
            "description": "SHA-256 for integrity verification"
          },
          "format": {
            "type": "string",
            "enum": [
              "pdf",
              "html",
              "json"
            ]
          },
          "regulatory_relevance": {
            "type": "string",
            "nullable": true,
            "enum": [
              "MiCA",
              "DORA",
              "SEC",
              "NYDFS",
              null
            ]
          }
        }
      },
      "NomosExecutionReceipt": {
        "type": "object",
        "description": "Ed25519-signed execution receipt. Canonical response-hash evidence.",
        "properties": {
          "schema": {
            "type": "string"
          },
          "receipt": {
            "type": "object",
            "description": "Receipt core. Verify by recomputing the digest over the canonical core (JSON, sorted keys, compact separators) and checking the signature over b'nomos.execution.receipt.v1' + 0x00 + canonical(core).",
            "properties": {
              "execution_id": {
                "type": "string"
              },
              "request_id": {
                "type": "string"
              },
              "consumer_id": {
                "type": "string"
              },
              "route": {
                "type": "string"
              },
              "method": {
                "type": "string"
              },
              "state": {
                "type": "string",
                "example": "EXECUTION_COMPLETED"
              },
              "backend": {
                "type": "object",
                "properties": {
                  "response_sha256": {
                    "type": "string",
                    "description": "Signed hash of the delivered response body. Compare against your own hash of the bytes you received and against x-content-hash."
                  }
                }
              }
            }
          },
          "receipt_digest": {
            "type": "string"
          },
          "signature": {
            "type": "object",
            "properties": {
              "alg": {
                "type": "string",
                "example": "EdDSA"
              },
              "kid": {
                "type": "string",
                "example": "exr1_40c4bc9a9f61988b"
              },
              "value": {
                "type": "string"
              }
            }
          },
          "signature_state": {
            "type": "string",
            "example": "SIGNED"
          }
        }
      },
      "NomosExecutionJwks": {
        "type": "object",
        "properties": {
          "keys": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "kty": {
                  "type": "string",
                  "example": "OKP"
                },
                "crv": {
                  "type": "string",
                  "example": "Ed25519"
                },
                "alg": {
                  "type": "string",
                  "example": "EdDSA"
                },
                "use": {
                  "type": "string",
                  "example": "sig"
                },
                "kid": {
                  "type": "string",
                  "example": "exr1_40c4bc9a9f61988b"
                },
                "x": {
                  "type": "string",
                  "description": "base64url of the 32-byte PUBLIC key"
                }
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/api/v1/feeds/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "operationId": "getFeedsHealth",
        "summary": "Feed API health",
        "responses": {
          "200": {
            "description": "Feed service status"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Requires an API key (X-API-Key header). Corrected 2026-08-16: previously published as public."
      }
    },
    "/api/v1/feeds/health-carbon": {
      "get": {
        "tags": [
          "Health"
        ],
        "operationId": "getCarbonHealth",
        "summary": "Carbon feed health",
        "responses": {
          "200": {
            "description": "Carbon service status"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Requires an API key (X-API-Key header). Corrected 2026-08-16: previously published as public."
      }
    },
    "/api/v1/macro/health": {
      "get": {
        "tags": [
          "Macro Core"
        ],
        "operationId": "getMacroHealth",
        "summary": "Macro: Economic Health Index 0-100, status: EXPANSION/STABLE/CAUTION/CONTRACTION",
        "description": "Economic Health Index 0-100, status: EXPANSION/STABLE/CAUTION/CONTRACTION",
        "responses": {
          "200": {
            "description": "JSON with oracle_ready flag"
          }
        }
      }
    },
    "/api/v3/disclosure/networks": {
      "get": {
        "tags": [
          "Disclosure"
        ],
        "operationId": "getDisclosureNetworks",
        "summary": "All networks with sustainability disclosure",
        "description": "Networks with attestation for MiCA/CSRD",
        "responses": {
          "200": {
            "description": "Disclosure data with disclosure_support, attestation, legal, temporal keys"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/api/v3/disclosure/sustainability/{symbol}": {
      "get": {
        "tags": [
          "Disclosure"
        ],
        "operationId": "getDisclosureSustainability",
        "summary": "Single network sustainability report",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Full sustainability report"
          },
          "404": {
            "description": "Network not found"
          }
        }
      }
    },
    "/api/v2/l2/cheapest": {
      "get": {
        "tags": [
          "L2"
        ],
        "operationId": "getL2Cheapest",
        "summary": "Get cheapest healthy L2 chain",
        "description": "Returns recommended L2 with full ranking by gas cost",
        "responses": {
          "200": {
            "description": "L2 ranking with gas prices in USD"
          }
        }
      }
    },
    "/api/v2/l2/health": {
      "get": {
        "tags": [
          "L2"
        ],
        "operationId": "getL2Health",
        "summary": "L2 sequencer health status",
        "description": "Health for 8 L2 chains (ARB, OP, BASE, etc.)",
        "responses": {
          "200": {
            "description": "Health status array"
          }
        }
      }
    },
    "/api/v2/l2/all": {
      "get": {
        "tags": [
          "L2"
        ],
        "operationId": "getL2All",
        "summary": "All L2 chain data",
        "responses": {
          "200": {
            "description": "Complete L2 data for all chains"
          }
        }
      }
    },
    "/api/v2/l2/status/{chain}": {
      "get": {
        "tags": [
          "L2"
        ],
        "operationId": "getL2Status",
        "summary": "Single L2 chain status",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chain details"
          },
          "404": {
            "description": "Chain not found"
          }
        }
      }
    },
    "/api/v2/attestation/status": {
      "get": {
        "tags": [
          "Attestation"
        ],
        "operationId": "getAttestationStatus",
        "summary": "DAP system status",
        "description": "Returns merkle root and multi-chain anchor status",
        "responses": {
          "200": {
            "description": "DAP operational status"
          }
        }
      }
    },
    "/api/v2/attestation/chains": {
      "get": {
        "tags": [
          "Attestation"
        ],
        "operationId": "getAttestationChains",
        "summary": "Multi-chain anchor status",
        "description": "Anchor status on ETH, Polygon, Arbitrum, Base",
        "responses": {
          "200": {
            "description": "Chain anchors with tx hashes"
          }
        }
      }
    },
    "/api/v2/attestation/activity": {
      "get": {
        "tags": [
          "Attestation"
        ],
        "operationId": "getAttestationActivity",
        "summary": "Recent anchor activity",
        "responses": {
          "200": {
            "description": "Activity log with timestamps"
          }
        }
      }
    },
    "/api/v2/attestation/verify/{aid}": {
      "get": {
        "tags": [
          "Attestation"
        ],
        "operationId": "verifyAttestation",
        "summary": "Verify attestation by ID",
        "parameters": [
          {
            "name": "aid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Attestation ID (dap_*)"
          }
        ],
        "responses": {
          "200": {
            "description": "Verification result with merkle proof"
          },
          "404": {
            "description": "Attestation not found"
          }
        }
      }
    },
    "/api/v1/feeds/carbon/chains": {
      "get": {
        "tags": [
          "Carbon"
        ],
        "operationId": "getCarbonChains",
        "summary": "Carbon data for all 49 blockchain networks",
        "description": "Includes CO2, energy, consensus type, carbon score",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Carbon array with 49 chains"
          },
          "401": {
            "description": "Missing or invalid X-API-Key"
          }
        }
      }
    },
    "/api/v1/feeds/carbon/summary": {
      "get": {
        "tags": [
          "Carbon"
        ],
        "operationId": "getCarbonSummary",
        "summary": "Carbon summary statistics",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Aggregated carbon stats"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/carbon/chains": {
      "get": {
        "tags": [
          "Carbon"
        ],
        "operationId": "getCarbonChainsAlt",
        "summary": "Carbon data for 50+ blockchains (public)",
        "security": [],
        "responses": {
          "200": {
            "description": "Carbon data"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/carbon/summary": {
      "get": {
        "tags": [
          "Carbon"
        ],
        "operationId": "getCarbonSummaryAlt",
        "summary": "Carbon summary (alternate path)",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Summary stats"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/carbon/mica/{symbol}": {
      "get": {
        "tags": [
          "Carbon"
        ],
        "operationId": "getCarbonMica",
        "summary": "MiCA-formatted carbon data",
        "description": "Article 66 compliant format",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "MiCA format data"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/macro/all": {
      "get": {
        "tags": [
          "Macro Core"
        ],
        "operationId": "getMacroAll",
        "summary": "Macro: All core indicators combined",
        "description": "All core indicators combined",
        "responses": {
          "200": {
            "description": "JSON with oracle_ready flag"
          }
        }
      }
    },
    "/api/v1/macro/fed": {
      "get": {
        "tags": [
          "Macro Core"
        ],
        "operationId": "getMacroFed",
        "summary": "Macro: Fed Funds Rate, FOMC calendar, rate outlook, last change",
        "description": "Fed Funds Rate, FOMC calendar, rate outlook, last change",
        "responses": {
          "200": {
            "description": "JSON with oracle_ready flag"
          }
        }
      }
    },
    "/api/v1/macro/inflation": {
      "get": {
        "tags": [
          "Macro Core"
        ],
        "operationId": "getMacroInflation",
        "summary": "Macro: CPI YoY, Core CPI, PCE, MoM change, target deviation",
        "description": "CPI YoY, Core CPI, PCE, MoM change, target deviation",
        "responses": {
          "200": {
            "description": "JSON with oracle_ready flag"
          }
        }
      }
    },
    "/api/v1/macro/yields": {
      "get": {
        "tags": [
          "Macro Core"
        ],
        "operationId": "getMacroYields",
        "summary": "Macro: Key Treasury yields: 2Y, 10Y, 30Y, 2s10s spread",
        "description": "Key Treasury yields: 2Y, 10Y, 30Y, 2s10s spread",
        "responses": {
          "200": {
            "description": "JSON with oracle_ready flag"
          }
        }
      }
    },
    "/api/v1/macro/gdp": {
      "get": {
        "tags": [
          "Macro Core"
        ],
        "operationId": "getMacroGDP",
        "summary": "Macro: Real GDP growth QoQ annualized, nominal GDP",
        "description": "Real GDP growth QoQ annualized, nominal GDP",
        "responses": {
          "200": {
            "description": "JSON with oracle_ready flag"
          }
        }
      }
    },
    "/api/v1/macro/employment": {
      "get": {
        "tags": [
          "Macro Core"
        ],
        "operationId": "getMacroEmployment",
        "summary": "Macro: Unemployment rate, nonfarm payrolls, labor force participation",
        "description": "Unemployment rate, nonfarm payrolls, labor force participation",
        "responses": {
          "200": {
            "description": "JSON with oracle_ready flag"
          }
        }
      }
    },
    "/api/v1/macro/risk": {
      "get": {
        "tags": [
          "Macro Core"
        ],
        "operationId": "getMacroRisk",
        "summary": "Macro: Recession probability, risk assessment",
        "description": "Recession probability, risk assessment",
        "responses": {
          "200": {
            "description": "JSON with oracle_ready flag"
          },
          "402": {
            "description": "Payment Required — API key missing or insufficient units. Returns pricing and registration instructions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 402
                    },
                    "error": {
                      "type": "string",
                      "example": "payment_required"
                    },
                    "protocol": {
                      "type": "string",
                      "example": "feedoracle-402"
                    },
                    "message": {
                      "type": "string"
                    },
                    "packages": {
                      "type": "object"
                    },
                    "free_tools": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/macro/sentiment": {
      "get": {
        "tags": [
          "Macro Core"
        ],
        "operationId": "getMacroSentiment",
        "summary": "Macro: Consumer sentiment, Michigan survey",
        "description": "Consumer sentiment, Michigan survey",
        "responses": {
          "200": {
            "description": "JSON with oracle_ready flag"
          }
        }
      }
    },
    "/api/v1/macro/proofs": {
      "get": {
        "tags": [
          "Macro"
        ],
        "operationId": "getMacroProofs",
        "summary": "Macro data proofs (attestation)",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Verification proofs"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/macro/verified/all": {
      "get": {
        "tags": [
          "Macro"
        ],
        "operationId": "getMacroVerifiedAll",
        "summary": "All verified macro data",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Verified dataset"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/macro/verification-status": {
      "get": {
        "tags": [
          "Macro"
        ],
        "operationId": "getMacroVerificationStatus",
        "summary": "Macro verification status",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Verification status"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/feeds/trading/radar": {
      "get": {
        "tags": [
          "Trading"
        ],
        "operationId": "getTradingRadar",
        "summary": "Trading radar signals",
        "description": "Real-time trading opportunities",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Radar signals"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/feeds/trading/alpha": {
      "get": {
        "tags": [
          "Trading"
        ],
        "operationId": "getTradingAlpha",
        "summary": "Alpha signals",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Alpha opportunities"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/feeds/trading/bias": {
      "get": {
        "tags": [
          "Trading"
        ],
        "operationId": "getTradingBias",
        "summary": "Market bias indicators",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Bias data"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/feeds/trading/tokens": {
      "get": {
        "tags": [
          "Trading"
        ],
        "operationId": "getTradingTokens",
        "summary": "Tracked tokens list",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Token list"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/feeds/trading/asset/{symbol}": {
      "get": {
        "tags": [
          "Trading"
        ],
        "operationId": "getTradingAsset",
        "summary": "Single asset trading data",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Asset data"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/feeds/rsi": {
      "get": {
        "tags": [
          "Trading"
        ],
        "operationId": "getRsi",
        "summary": "RSI indicators",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "RSI data"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/feeds/treasury": {
      "get": {
        "tags": [
          "Trading"
        ],
        "operationId": "getTreasury",
        "summary": "Treasury data",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Treasury metrics"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/feeds/trust/combined": {
      "get": {
        "tags": [
          "Trading"
        ],
        "operationId": "getTrustCombined",
        "summary": "Combined trust score",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Trust scores"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/feeds/xrp/rlusd": {
      "get": {
        "tags": [
          "XRP"
        ],
        "operationId": "getXrpRlusd",
        "summary": "RLUSD stablecoin data",
        "description": "Ripple USD stablecoin metrics",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "RLUSD data"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/feeds/xrp/market": {
      "get": {
        "tags": [
          "XRP"
        ],
        "operationId": "getXrpMarket",
        "summary": "XRP market data",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Market data"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/feeds/xrp/rwa": {
      "get": {
        "tags": [
          "XRP"
        ],
        "operationId": "getXrpRwa",
        "summary": "XRP RWA tokenization data",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "RWA on XRPL"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/feeds/xrp/whale": {
      "get": {
        "tags": [
          "XRP"
        ],
        "operationId": "getXrpWhale",
        "summary": "XRP whale tracking",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Whale movements"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/feeds/xrp/health": {
      "get": {
        "tags": [
          "XRP"
        ],
        "operationId": "getXrpHealth",
        "summary": "XRP feed health",
        "responses": {
          "200": {
            "description": "XRP service status"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Requires an API key (X-API-Key header). Corrected 2026-08-16: previously published as public."
      }
    },
    "/api/v1/rwa/assets": {
      "get": {
        "tags": [
          "RWA"
        ],
        "operationId": "getRwaAssets",
        "summary": "All RWA assets",
        "description": "Tokenized real world assets",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Asset list"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/rwa/assets/{asset_id}": {
      "get": {
        "tags": [
          "RWA"
        ],
        "operationId": "getRwaAsset",
        "summary": "Single RWA asset details",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "asset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Asset details"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/rwa/treasuries": {
      "get": {
        "tags": [
          "RWA"
        ],
        "operationId": "getRwaTreasuries",
        "summary": "Tokenized treasuries (T-Bills)",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Treasury tokens"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/rwa/treasury-trust": {
      "get": {
        "tags": [
          "RWA"
        ],
        "operationId": "getRwaTreasuryTrust",
        "summary": "Treasury trust scores",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Trust data"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/rwa/redemptions": {
      "get": {
        "tags": [
          "RWA"
        ],
        "operationId": "getRwaRedemptions",
        "summary": "RWA redemption data",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Redemption history"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/rwa/redemption-stress": {
      "get": {
        "tags": [
          "RWA"
        ],
        "operationId": "getRwaRedemptionStress",
        "summary": "Redemption stress test results",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Stress test data"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/rwa/classify": {
      "get": {
        "tags": [
          "RWA"
        ],
        "operationId": "getRwaClassify",
        "summary": "RWA classification",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Classification"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/rwa/status": {
      "get": {
        "tags": [
          "RWA"
        ],
        "operationId": "getRwaStatus",
        "summary": "RWA system status",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "System status"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/rwa/grant-info": {
      "get": {
        "tags": [
          "RWA"
        ],
        "operationId": "getRwaGrantInfo",
        "summary": "RWA grant information",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Grant info"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/feeds/agents/ranking": {
      "get": {
        "tags": [
          "Agents"
        ],
        "operationId": "getAgentsRanking",
        "summary": "AI agent token ranking",
        "description": "Rankings for AI agent tokens",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Agent rankings"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/feeds/agents/trends": {
      "get": {
        "tags": [
          "Agents"
        ],
        "operationId": "getAgentsTrends",
        "summary": "AI agent trends",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Trend data"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/feeds/agents/{symbol}": {
      "get": {
        "tags": [
          "Agents"
        ],
        "operationId": "getAgent",
        "summary": "Single AI agent data",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent data"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/feeds/agents/health": {
      "get": {
        "tags": [
          "Agents"
        ],
        "operationId": "getAgentsHealth",
        "summary": "Agents feed health",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Requires an API key (X-API-Key header). Corrected 2026-08-16: previously published as public."
      }
    },
    "/api/v1/feeds/knowledge/assets": {
      "get": {
        "tags": [
          "Knowledge"
        ],
        "operationId": "getKnowledgeAssets",
        "summary": "Knowledge base assets",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Asset knowledge"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/feeds/knowledge/stats": {
      "get": {
        "tags": [
          "Knowledge"
        ],
        "operationId": "getKnowledgeStats",
        "summary": "Knowledge statistics",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Stats"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/feeds/knowledge/status": {
      "get": {
        "tags": [
          "Knowledge"
        ],
        "operationId": "getKnowledgeStatus",
        "summary": "Knowledge system status",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Status"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/feeds/knowledge/health": {
      "get": {
        "tags": [
          "Knowledge"
        ],
        "operationId": "getKnowledgeHealth",
        "summary": "Knowledge feed health",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Requires an API key (X-API-Key header). Corrected 2026-08-16: previously published as public."
      }
    },
    "/api/v1/feeds/supplychain/status": {
      "get": {
        "tags": [
          "SupplyChain"
        ],
        "operationId": "getSupplychainStatus",
        "summary": "Supply chain status",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Status"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/feeds/supplychain/stats": {
      "get": {
        "tags": [
          "SupplyChain"
        ],
        "operationId": "getSupplychainStats",
        "summary": "Supply chain statistics",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Stats"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/feeds/supplychain/carbon": {
      "get": {
        "tags": [
          "SupplyChain"
        ],
        "operationId": "getSupplychainCarbon",
        "summary": "Supply chain carbon tracking",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Carbon data"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/feeds/supplychain/transfers": {
      "get": {
        "tags": [
          "SupplyChain"
        ],
        "operationId": "getSupplychainTransfers",
        "summary": "Supply chain transfers",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Transfer log"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/feeds/supplychain/product/{product_id}": {
      "get": {
        "tags": [
          "SupplyChain"
        ],
        "operationId": "getSupplychainProduct",
        "summary": "Product tracking",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product journey"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/feeds/supplychain/health": {
      "get": {
        "tags": [
          "SupplyChain"
        ],
        "operationId": "getSupplychainHealth",
        "summary": "Supply chain health",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Requires an API key (X-API-Key header). Corrected 2026-08-16: previously published as public."
      }
    },
    "/api/v2/reports/mica-art66": {
      "get": {
        "tags": [
          "Reports"
        ],
        "operationId": "getReportMica",
        "summary": "MiCA Article 66 PDF report",
        "description": "EU MiCA sustainability disclosure PDF",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "PDF report"
          },
          "401": {
            "description": "Pro+ tier required"
          }
        }
      }
    },
    "/api/v2/reports/csrd-esrs": {
      "get": {
        "tags": [
          "Reports"
        ],
        "operationId": "getReportCsrd",
        "summary": "CSRD/ESRS PDF report",
        "description": "EU CSRD sustainability reporting PDF",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "PDF report"
          },
          "401": {
            "description": "Pro+ tier required"
          }
        }
      }
    },
    "/api/v2/reports/dora-operational": {
      "get": {
        "tags": [
          "Reports"
        ],
        "operationId": "getReportDora",
        "summary": "DORA Operational PDF report",
        "description": "EU DORA operational resilience PDF",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "PDF report"
          },
          "401": {
            "description": "Pro+ tier required"
          }
        }
      }
    },
    "/api/v1/reports/catalog": {
      "get": {
        "tags": [
          "Reports"
        ],
        "operationId": "getReportsCatalog",
        "summary": "Available reports catalog",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Report list"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/reports/disclosure": {
      "get": {
        "tags": [
          "Reports"
        ],
        "operationId": "getReportsDisclosure",
        "summary": "Disclosure report",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Report"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/reports/disclosure.json": {
      "get": {
        "tags": [
          "Reports"
        ],
        "operationId": "getReportsDisclosureJson",
        "summary": "Disclosure report (JSON)",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "JSON report"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/reports/audit-export": {
      "get": {
        "tags": [
          "Reports"
        ],
        "operationId": "getReportsAuditExport",
        "summary": "Audit export",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Export data"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/events": {
      "get": {
        "tags": [
          "Health"
        ],
        "operationId": "getEvents",
        "summary": "System events feed",
        "responses": {
          "200": {
            "description": "Events stream"
          }
        }
      }
    },
    "/api/v1/feeds/health/{symbol}": {
      "get": {
        "tags": [
          "Health"
        ],
        "operationId": "getFeedHealthSymbol",
        "summary": "Feed health by symbol",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Health status"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Requires an API key (X-API-Key header). Corrected 2026-08-16: previously published as public."
      }
    },
    "/api/v3/rlusd/status": {
      "get": {
        "tags": [
          "RLUSD"
        ],
        "operationId": "getRlusdStatus",
        "summary": "Service status",
        "security": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RlusdStatusEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/rlusd/cci": {
      "get": {
        "tags": [
          "RLUSD"
        ],
        "operationId": "getCciCompact",
        "summary": "CCI compact",
        "security": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RlusdCciCompact"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/rlusd/risk/cci": {
      "get": {
        "tags": [
          "RLUSD"
        ],
        "operationId": "getCciDetailed",
        "summary": "CCI detailed",
        "security": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RlusdCciDetailed"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/rlusd/supply/breakdown": {
      "get": {
        "tags": [
          "RLUSD"
        ],
        "operationId": "getSupplyBreakdown",
        "summary": "Supply by chain",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RlusdSupplyBreakdown"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/rlusd/peg/quality": {
      "get": {
        "tags": [
          "RLUSD"
        ],
        "operationId": "getPegQuality",
        "summary": "Peg quality",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RlusdPegQuality"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/rlusd/evidence/latest": {
      "get": {
        "tags": [
          "RLUSD"
        ],
        "operationId": "getEvidenceLatest",
        "summary": "Evidence pack",
        "security": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RlusdEvidencePack"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/rlusd/holders": {
      "get": {
        "tags": [
          "RLUSD"
        ],
        "operationId": "getHolders",
        "summary": "Holder distribution",
        "security": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RlusdHoldersResponse"
                }
              }
            }
          }
        },
        "description": "Known issue (2026-08-16): this operation currently returns HTTP 500."
      }
    },
    "/api/v3/rlusd/webhooks/events": {
      "get": {
        "tags": [
          "RLUSD"
        ],
        "operationId": "getWebhookEvents",
        "summary": "Webhook catalog",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RlusdWebhookCatalog"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/attestations/{attestation_id}": {
      "get": {
        "tags": [
          "Attestations"
        ],
        "operationId": "getAttestation",
        "summary": "Get attestation by ID",
        "security": [],
        "parameters": [
          {
            "name": "attestation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attestation data"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/api/v3/attestations/verify/{attestation_id}": {
      "get": {
        "tags": [
          "Attestations"
        ],
        "operationId": "verifyAttestationV3",
        "summary": "Verify attestation on-chain",
        "security": [],
        "parameters": [
          {
            "name": "attestation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Verification result"
          }
        }
      }
    },
    "/api/v3/rlusd/verify/{hash}": {
      "get": {
        "tags": [
          "RLUSD"
        ],
        "operationId": "verifyHash",
        "summary": "Verify hash",
        "security": [],
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RlusdVerifyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/vc/verify": {
      "post": {
        "tags": [
          "Integrity Suite"
        ],
        "summary": "Verify JWS signature",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jws": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification result with payload"
          }
        }
      }
    },
    "/api/v1/epm/verify": {
      "post": {
        "tags": [
          "EPM"
        ],
        "summary": "Verify DSSE-wrapped EPM manifest",
        "operationId": "verifyEPM",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "payloadType",
                  "payload",
                  "signatures"
                ],
                "properties": {
                  "payloadType": {
                    "type": "string"
                  },
                  "payload": {
                    "type": "string"
                  },
                  "signatures": {
                    "type": "array"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification passed"
          },
          "400": {
            "description": "Invalid DSSE or manifest"
          },
          "409": {
            "description": "Replay detected"
          }
        }
      }
    },
    "/api/v1/eu-ets/price": {
      "get": {
        "tags": [
          "EU Carbon Intelligence"
        ],
        "summary": "EU ETS carbon price",
        "responses": {
          "200": {
            "description": "Current EUA price in EUR/tCO2"
          }
        }
      }
    },
    "/api/v1/ember/intensity/{country_code}": {
      "get": {
        "tags": [
          "EU Carbon Intelligence"
        ],
        "summary": "Grid carbon intensity",
        "parameters": [
          {
            "name": "country_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ISO 3166-1 alpha-3 (DEU, GBR, FRA, etc.)"
          }
        ],
        "responses": {
          "200": {
            "description": "CO2 intensity in gCO2/kWh"
          }
        }
      }
    },
    "/api/v1/integrity/rlusd": {
      "get": {
        "tags": [
          "Unified Integrity"
        ],
        "summary": "RLUSD Integrity Check",
        "parameters": [
          {
            "name": "signed",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Integrity report with confidence score"
          }
        }
      }
    },
    "/api/v1/integrity/rlusd/baselines": {
      "get": {
        "tags": [
          "Unified Integrity"
        ],
        "summary": "RLUSD Baselines (peg, reserve, CCI)",
        "responses": {
          "200": {
            "description": "Fixed target baselines"
          }
        }
      }
    },
    "/v1/rwa/risk": {
      "get": {
        "tags": [
          "RWA Risk Scoring"
        ],
        "summary": "All protocol risk scores",
        "description": "Composite risk scores for 60+ tokenized asset protocols with market summary and grade distribution.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by asset type"
          }
        ],
        "responses": {
          "200": {
            "description": "Risk scores for all protocols",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "protocols_scored": {
                      "type": "integer",
                      "example": 61
                    },
                    "total_tvl_usd": {
                      "type": "number"
                    },
                    "protocols": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RWAProtocolRisk"
                      }
                    },
                    "evidence": {
                      "$ref": "#/components/schemas/RWAEvidence"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded (60 req/min)"
          }
        }
      }
    },
    "/v1/rwa/risk/{slug}": {
      "get": {
        "tags": [
          "RWA Risk Scoring"
        ],
        "summary": "Single protocol - full risk profile + evidence",
        "description": "Complete risk profile with 9 vector scores, reason codes, compliance, legal state. For regulated stablecoins includes stablecoin_detail. For XRPL assets includes xrpl_detail.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Protocol identifier (e.g. rlusd, blackrock-buidl, xrpl-ecosystem)"
          }
        ],
        "responses": {
          "200": {
            "description": "Full protocol risk profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "protocol": {
                      "$ref": "#/components/schemas/RWAProtocolRisk"
                    },
                    "benchmark": {
                      "type": "object",
                      "properties": {
                        "tbill_3m": {
                          "type": "number",
                          "example": 3.6
                        }
                      }
                    },
                    "evidence": {
                      "$ref": "#/components/schemas/RWAEvidence"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "404": {
            "description": "Protocol not found"
          },
          "429": {
            "description": "Rate limit exceeded (60 req/min)"
          }
        }
      }
    },
    "/v1/rwa/risk/{slug}/pdf": {
      "get": {
        "tags": [
          "RWA Risk Scoring"
        ],
        "summary": "PDF risk report",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Protocol identifier (e.g. rlusd, blackrock-buidl, xrpl-ecosystem)"
          }
        ],
        "responses": {
          "200": {
            "description": "PDF report",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Protocol not found"
          }
        }
      }
    },
    "/v1/rwa/market": {
      "get": {
        "tags": [
          "RWA Risk Scoring"
        ],
        "summary": "Market overview & aggregate stats",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Market overview",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_tvl_usd": {
                      "type": "number"
                    },
                    "protocols_scored": {
                      "type": "integer"
                    },
                    "grade_distribution": {
                      "type": "object"
                    },
                    "type_breakdown": {
                      "type": "object"
                    },
                    "evidence": {
                      "$ref": "#/components/schemas/RWAEvidence"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/rwa/registry": {
      "get": {
        "tags": [
          "RWA Registry"
        ],
        "summary": "All protocol identifiers",
        "description": "Structured identifiers including token metadata, issuer details, LEI, ISIN.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Registry entries",
            "headers": {
              "x-request-id": {
                "description": "Server correlation id. Also bound inside the execution receipt as request_id.",
                "schema": {
                  "type": "string",
                  "example": "rq-09f447f0464a91fc"
                }
              },
              "x-content-hash": {
                "description": "sha256 over the exact response body bytes as delivered.",
                "schema": {
                  "type": "string",
                  "example": "sha256:4d6bc10b...180a18"
                }
              },
              "x-nomos-execution-id": {
                "description": "Execution id of this call's signed receipt.",
                "schema": {
                  "type": "string",
                  "example": "exe1_f426c37db9c42673932ab5bc13e60b3b"
                }
              },
              "x-nomos-receipt-digest": {
                "description": "sha256 digest of the canonical receipt core.",
                "schema": {
                  "type": "string",
                  "example": "sha256:..."
                }
              },
              "x-nomos-receipt-kid": {
                "description": "Ed25519 key id the receipt is signed with. Absent while a receipt is still SIGNATURE_PENDING - nothing then claims a signature that does not exist.",
                "schema": {
                  "type": "string",
                  "example": "exr1_40c4bc9a9f61988b"
                }
              },
              "x-nomos-receipt-url": {
                "description": "Authenticated HTTPS URL serving the signed receipt for this call. Read the URL from here; do not construct it.",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          }
        },
        "x-nomos-governed-action": true
      },
      "servers": [
        {
          "url": "https://feedoracle.io/api",
          "description": "Public gateway that fronts the NOMOS admission and execution layers"
        }
      ]
    },
    "/v1/rwa/registry/{slug}": {
      "get": {
        "tags": [
          "RWA Registry"
        ],
        "summary": "Single protocol identifiers",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Protocol slug"
          }
        ],
        "responses": {
          "200": {
            "description": "Registry entry"
          },
          "404": {
            "description": "Protocol not found"
          }
        }
      }
    },
    "/v1/rwa/registry/search": {
      "get": {
        "tags": [
          "RWA Registry"
        ],
        "summary": "Search by name, symbol, or ISIN",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          }
        ],
        "responses": {
          "200": {
            "description": "Matching protocols"
          }
        }
      }
    },
    "/v1/rwa/registry/stats": {
      "get": {
        "tags": [
          "RWA Registry"
        ],
        "summary": "Registry statistics",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Aggregate registry stats",
            "headers": {
              "x-request-id": {
                "description": "Server correlation id. Also bound inside the execution receipt as request_id.",
                "schema": {
                  "type": "string",
                  "example": "rq-09f447f0464a91fc"
                }
              },
              "x-content-hash": {
                "description": "sha256 over the exact response body bytes as delivered.",
                "schema": {
                  "type": "string",
                  "example": "sha256:4d6bc10b...180a18"
                }
              },
              "x-nomos-execution-id": {
                "description": "Execution id of this call's signed receipt.",
                "schema": {
                  "type": "string",
                  "example": "exe1_f426c37db9c42673932ab5bc13e60b3b"
                }
              },
              "x-nomos-receipt-digest": {
                "description": "sha256 digest of the canonical receipt core.",
                "schema": {
                  "type": "string",
                  "example": "sha256:..."
                }
              },
              "x-nomos-receipt-kid": {
                "description": "Ed25519 key id the receipt is signed with. Absent while a receipt is still SIGNATURE_PENDING - nothing then claims a signature that does not exist.",
                "schema": {
                  "type": "string",
                  "example": "exr1_40c4bc9a9f61988b"
                }
              },
              "x-nomos-receipt-url": {
                "description": "Authenticated HTTPS URL serving the signed receipt for this call. Read the URL from here; do not construct it.",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          }
        },
        "x-nomos-governed-action": true
      },
      "servers": [
        {
          "url": "https://feedoracle.io/api",
          "description": "Public gateway that fronts the NOMOS admission and execution layers"
        }
      ]
    },
    "/v1/rwa/compliance": {
      "get": {
        "tags": [
          "RWA Compliance"
        ],
        "summary": "All protocols - compliance overview",
        "description": "MiCA, DORA, sanctions screening, jurisdiction access for all protocols.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Compliance data"
          }
        }
      }
    },
    "/v1/rwa/compliance/{slug}": {
      "get": {
        "tags": [
          "RWA Compliance"
        ],
        "summary": "Single protocol - compliance profile",
        "description": "Jurisdiction access, sanctions screening, investor requirements, KYC level.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Protocol slug"
          }
        ],
        "responses": {
          "200": {
            "description": "Compliance profile"
          },
          "404": {
            "description": "Protocol not found"
          }
        }
      }
    },
    "/v1/rwa/compliance/jurisdiction/{code}": {
      "get": {
        "tags": [
          "RWA Compliance"
        ],
        "summary": "Filter by jurisdiction",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ISO jurisdiction code (US, EU, SG)"
          }
        ],
        "responses": {
          "200": {
            "description": "Protocols in jurisdiction"
          }
        }
      }
    },
    "/v1/rwa/compliance/check": {
      "get": {
        "tags": [
          "RWA Compliance"
        ],
        "summary": "Cross-border compliance check",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Source jurisdiction"
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Target jurisdiction"
          }
        ],
        "responses": {
          "200": {
            "description": "Compliance check result"
          }
        }
      }
    },
    "/v1/rwa/compliance/stats": {
      "get": {
        "tags": [
          "RWA Compliance"
        ],
        "summary": "Compliance statistics",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Aggregate compliance stats"
          }
        }
      }
    },
    "/v1/rwa/legal-state": {
      "get": {
        "tags": [
          "RWA Legal State"
        ],
        "summary": "All protocols - legal structure",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Legal state overview",
            "headers": {
              "x-request-id": {
                "description": "Server correlation id. Also bound inside the execution receipt as request_id.",
                "schema": {
                  "type": "string",
                  "example": "rq-09f447f0464a91fc"
[...]
